{{extend 'default/layout.html'}}

<style>
  li {
      padding-top: 10px;
      text-align: left;
  }
</style>

<h3>
	<p>
		<a href="#bm_documentation" data-ajax="false"><b>1. {{=T('DOCUMENTATIONS')}}</b></a>
	</p>
	<p>
		<a href="#bm_demo" data-ajax="false"><b>2. {{=T('DEMO APPLICATIONS')}}</b></a>
	</p>
	<p>
    <a href="#bm_report" data-ajax="false"><b>3. {{=T('SAMPLE REPORTS')}}</b></a>
  </p>
  <p>
    <a href="#bm_more" data-ajax="false"><b>4. {{=T('MORE RESOURCES')}}</b></a>
  </p>
</h3>

<a id="bm_documentation"></a>
<hr>

<h3 style="color: #3B7687;">1. {{=T('Documentations')}}</h3>
<ul>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/nom/nom&content=view&lang=auto'}} 
    target="_blank"><span class="sname">NOM</span>&nbsp;<b><i>Nervatura Object Model</i></b></a>
  </li>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/nas/nas&content=view&lang=auto'}} 
    target="_blank"><span class="sname">NAS</span>&nbsp;<b><i>Nervatura Application Server</i></b></a>
  </li>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndi/ndi&content=view&lang=auto'}} 
    target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>Nervatura Data Interface</i></b></a>
  </li>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/npi/npi&content=view&lang=auto'}} 
    target="_blank"><span class="sname">NPI</span>&nbsp;<b><i>Nervatura Programming Interface</i></b></a>
  </li>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndr/ndr&content=view&lang=auto'}} 
    target="_blank"><span class="sname">NDR</span>&nbsp;<b><i>Nervatura Data Representation</i></b></a>
  </li>
</ul>

<a id="bm_demo"></a>
<hr>

<h3 style="color: #3B7687;">2. {{=T('DEMO Applications')}}</h3>
<ul>
  <li><a href={{=URL( 'nwc', 'index',vars={'desktop':'true'})}} target="_blank"><span class="sname">NWC</span>&nbsp;<b><i>Nervatura Web Client</i></b></a><br>
  {{=T('Database')}}: <b><i>demo</i></b>, {{=T('Username')}}: <b><i>demo</i></b>, {{=T('Password')}}: {{=T('leave the field empty, not need')}}<br>
  <i>{{=T('Restricted DEMO MODE version! Restricted functions are: Database Settings, Access Rights and Change Password.')}}</i></li>
  <li><a href={{=URL( 'nwc', 'index',vars={'mobile':'true'})}} target="_blank"><span class="sname">NWC</span>&nbsp;<b><i>Nervatura Mobile Client</i></b></a><br>
  {{=T('Database')}}: <b><i>demo</i></b>, {{=T('Username')}}: <b><i>demo</i></b>, {{=T('Password')}}: {{=T('leave the field empty, not need')}}<br>
  <i>{{=T('Restricted DEMO MODE version! Restricted functions are: Database Settings, Access Rights and Change Password.')}}</i></li>
  <li><a href={{=URL('ndr', 'getAppl')+'?appl=nflex/nervex.html'}} 
    target="_blank"><span class="sname">NPI</span>&nbsp;<b><i>Nervatura Flash Client</i></b></a><br>
  {{=T('Database')}}: <b><i>demo</i></b>, {{=T('Username')}}: <b><i>demo</i></b>, {{=T('Password')}}: {{=T('leave the field empty, not need')}}<br>
  <i>{{=T('Restricted DEMO MODE version! Restricted functions are: Database Settings, Access Rights and Change Password.')}}</i>
  </li>
  <li><a href={{=URL( 'ndi_demo', 'index')}} 
    target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>Nervatura Data Interface Demo</i></b></a></li>
  <li><a href={{=URL( 'report2py', 'index')}} target="_blank"><span class="sname">NDR</span>&nbsp;<b><i>Nervatura Report Help & Demo</i></b></a></li>
</ul>

<a id="bm_report"></a>
<hr>

<h3 style="color: #3B7687;">3. {{=T('Sample Reports')}}</h3>
<ul>
  <li><h2 style="margin: 0px;">{{=T('General Reports')}}</h2>
    <ul>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Web2Py Report Example')}}</span><br>
        {{=T('Sample report using ')}}
        <a href="http://web2py.com/books/default/chapter/29/05#HTML-helpers" target="_blank">Web2Py HTML helper</a>
         {{=T(' class.')}} {{=T('Quick and easy to use, but only for making HTML reports.')}}<br>
        <hr style="margin: 0px;margin-bottom: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/html_vat&content=text/plain&file_type=sql'}} 
                target="_blank">Download</a>
            </div>
            <div style="float: left;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'], 
                vars=dict(database='demo',username='demo',password='',reportcode='html_vat'))}} 
                target="_blank" >DEMO Preview</a>
            </div>
          </td></tr>
        </table>        
        <hr style="margin: 0px;margin-bottom: 5px;margin-top: 2px;">
      </li>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Nervatura Report Example')}}</span><br>
        {{=T('Sample report using ')}}
        <a href={{=URL( 'report2py', 'index')}} target="_blank">Nervatura Report.</a>
         {{=T('Quick and easy to use, but offers limited formatting options. Simple reports, if it is important to print, PDF, and XML output option is available.')}}<br>
        <hr style="margin: 0px;margin-bottom: 2px;margin-top: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/fpdf_vat_en&content=text/plain&file_type=sql'}} 
                target="_blank">Download</a>
            </div>
            <div style="float: left;width: 150px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'], 
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_vat_en'))}} 
                target="_blank" >DEMO Preview</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_vat_en',output='pdf'))}}
                target="_blank" >DEMO PDF</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_vat_en',output='xml'))}} 
                target="_blank" >DEMO XML</a>
            </div>
          </td></tr>
        </table>        
        <hr style="margin: 0px;margin-bottom: 5px;">
      </li>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Genshi Example')}}</span><br>
        {{=T('Sample report using ')}}
        <a href="http://genshi.edgewall.org/" target="_blank">Genshi template language.</a>
         {{=T('Parsing, generating, and processing HTML, XML or other textual content.')}} 
         {{=T('Well documented. Suitable for creating complex reports, but it requires external library.')}}<br>
        <hr style="margin: 0px;margin-bottom: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/gshi_vat_en&content=text/plain&file_type=sql'}}
                target="_blank">Download</a>
            </div>
            <div style="float: left;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'],
                vars=dict(database='demo',username='demo',password='',reportcode='gshi_vat_en'))}}
                target="_blank" >DEMO Preview</a>
            </div>
          </td></tr>
        </table>        
        <hr style="margin: 0px;margin-bottom: 5px;margin-top: 2px;">
       </li>
       <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Microsoft Excel Example')}}</span><br>
        {{=T('Sample report using ')}}
        <a href="http://en.wikipedia.org/wiki/Microsoft_Excel" target="_blank">Microsoft Excel.</a>
         {{=T('The result is a separate worksheet for each query. The column name and type of formatting can be specified. ')}} 
         {{=T('Useful when the output data requires further analysis or a chart needs to be created.')}}<br>
        <hr style="margin: 0px;margin-bottom: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/xls_vat_en&content=text/plain&file_type=sql'}}
                target="_blank">Download</a>
            </div>
            <div style="float: left;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'],
                vars=dict(database='demo',username='demo',password='',reportcode='xls_vat_en'))}}
                target="_blank" >DEMO Preview</a>
            </div>
          </td></tr>
        </table>
        <hr style="margin: 0px;margin-bottom: 5px;margin-top: 2px;">
       </li>
    </ul>
  </li>
  <li><h2 style="margin: 0px;">{{=T('Document and other templates')}}</h2>
    <ul>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Invoice template')}}</span><br>
        <hr style="margin: 0px;margin-bottom: 2px;margin-top: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/fpdf_invoice_en&content=text/plain&file_type=sql'}}
                target="_blank">Download</a>
            </div>
            <div style="float: left;width: 150px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'],
              vars=dict(database='demo',username='demo',password='',reportcode='fpdf_invoice_en'))}}
              target="_blank" >DEMO Preview</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
              vars=dict(database='demo',username='demo',password='',reportcode='fpdf_invoice_en',output='pdf'))}}
              target="_blank" >DEMO PDF</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
              vars=dict(database='demo',username='demo',password='',reportcode='fpdf_invoice_en',output='xml'))}}
              target="_blank" >DEMO XML</a>
            </div>
          </td></tr>
        </table>        
        <hr style="margin: 0px;margin-bottom: 5px;">
      </li>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Customer Information template')}}</span><br>
        <hr style="margin: 0px;margin-bottom: 2px;margin-top: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/fpdf_customer_sheet_en&content=text/plain&file_type=sql'}}
                target="_blank">Download</a>
            </div>
            <div style="float: left;width: 150px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_customer_sheet_en'))}}
                target="_blank" >DEMO Preview</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_customer_sheet_en',output='pdf'))}}
                target="_blank" >DEMO PDF</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_customer_sheet_en',output='xml'))}}
                target="_blank" >DEMO XML</a>
            </div>
          </td></tr>
        </table>        
        <hr style="margin: 0px;margin-bottom: 5px;">
      </li>
      <li><span class="sname">NDR</span><span style="color: #3B7687;font-weight: bold;font-style: italic;">
        {{=T('Employee Data Sheet template')}}</span><br>
        <hr style="margin: 0px;margin-bottom: 2px;margin-top: 2px;">
        <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #F5F5DC;">
          <tr><td>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/fpdf_employee_sheet_en&content=text/plain&file_type=sql'}}
                target="_blank">Download</a>
            </div>
            <div style="float: left;width: 150px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_employee_sheet_en'))}}
                target="_blank" >DEMO Preview</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_employee_sheet_en',output='pdf'))}}
                target="_blank" >DEMO PDF</a>
            </div>
            <div style="float: left;width: 120px;">
              <a href={{=URL( 'demo', 'get_demo_report', args=['database','username','password','reportcode','output'],
                vars=dict(database='demo',username='demo',password='',reportcode='fpdf_employee_sheet_en',output='xml'))}}
                target="_blank" >DEMO XML</a>
            </div>
          </td></tr>
        </table>
        <hr style="margin: 0px;margin-bottom: 5px;">
      </li>
    </ul>
  </li>
</ul>

<a id="bm_more"></a>
<hr>

<h3 style="color: #3B7687;">4. {{=T('More Resources')}}</h3>
<ul>
  <li><a href="{{=URL( 'ndr', 'show_codefile')+'?fname=demo.py'}}" target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>Create DEMO data</i></b></a><br>
    {{=T('Server side sample program using ')}}<a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndi/ndi&content=view&lang=auto'}} 
    target="_blank">NDI</a>.
    {{=T('Insert (or update) DEMO data to selected database.')}}</li>
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=download/nguest&content=application/jar&file_type=jar'}} 
    target="_blank"><span class="sname">NDR</span>&nbsp;<b><i>Nervatura Client Additions</i></b></a><br>
    <a href={{=URL( 'report2py', 'index')}} target="_blank">Nervatura Report</a> <b>{{=T('client-side printing')}}</b> {{=T('and file export/import support.')}} {{=T('The program uses ')}}
    <a href="http://en.wikipedia.org/wiki/Java_virtual_machine" target="_blank">the Java runtime environment.</a><br>
    {{=T('For more information:')}} <br>
      <a href={{=URL( 'ndr', 'getHelp', args=['appl','page','folder'], vars=dict(appl='nguest',page='help',folder='src'))}} target="_blank">Nervatura Client Additions Help</a>.<br>
    {{=T('Windows installer:')}} <br>
      <a href={{=URL( 'ndr', 'getResource')+'?file_name=download/nguest&content=application/exe&file_type=exe'}} 
    target="_blank">Nervatura Client Additions Setup</a>.<br>
    {{=T('The')}} <b>{{=T('server-side printing')}}</b> {{=T('requirements')}}:
    <ul>
      <li>UNIX-like operating systems: <a href="http://www.cups.org/" target="_blank">CUPS</a> and <a href="https://pypi.python.org/pypi/pycups" target="_blank">Python bindings for libcups</a></li>
      <li>Windows systems: <a href="http://www.ghostscript.com/Ghostscript.html" target="_blank">Ghostscript</a> and <a href="http://pages.cs.wisc.edu/~ghost/gsview/gsprint.htm" target="_blank">GSPRINT</a></li>
      <li><a href="http://www.google.com/cloudprint/learn/" target="_blank">Google Cloud Print</a>: built-in support. See also: <a href="http://www.google.com/support/accounts/bin/static.py?page=guide.cs&guide=1056283&topic=1056286" target="_blank">application-specific password.</a></li>
      <li><a href="https://h30495.www3.hp.com/help#eprint" target="_blank">HP ePrint via Email</a>: built-in support.</li>
    </ul>
  </li>
  
  <li><a href={{=URL( 'ndr', 'getResource')+'?file_name=download/nwx&content=application/zip&file_type=zip'}} 
    target="_blank"><span class="sname">NPI</span>&nbsp;<b><i>Nervatura wxPython Client</i></b></a><br>
    {{=T('Sample program using ')}}
    <a href="http://wxpython.org/" target="_blank">wxPython</a>
    {{=T(' and ')}} <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/npi/npi&content=view&lang=auto'}} 
    target="_blank">NPI</a>.
    {{=T('It is aimed to present the usage of a client-side interface.')}}</li>
  <li><a href="{{=URL( 'ndr', 'getResource')+'?file_name=download/vba_demo&content=application/zip&file_type=zip'}}"
    target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>Nervatura Microsoft Excel Data Loader</i></b></a><br>
    {{=T('Sample MS Excel VBA functions using ')}} 
    <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndi/ndi&content=view&lang=auto'}} 
    target="_blank">NDI</a>. <br>
    Example objects: deffield, product, barcode, event, price, groups, link. (Fast, but can be use only under Windows.)
  </li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0Av_B8qcKt_8pdDNhRVZYNzM0VVVrMHJzSURLWlhXY3c#gid=0" 
    target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>Nervatura Google Spreadsheet Data Loader</i></b></a><br>
    {{=T('Sample')}} <a href="https://developers.google.com/apps-script/" target="_blank">Google Apps Script</a>
    {{=T('functions using ')}}<a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndi/ndi&content=view&lang=auto'}} 
    target="_blank">NDI</a>. <br>
    Example objects: deffield, customer, address, contact, event. (Slower, but can be used/called from anywhere.)
  </li>

</ul>

<!-- <hr>

<h3 style="color: #3B7687;">5. {{=T('Under Development')}}</h3>
<ul>
  <li><span class="sname">NPI</span>&nbsp;<b><i>Nervatura Terminal Client</i></b><br>
    {{=T('Sample text console application using')}} 
    <a href="http://excess.org/urwid" target="_blank">Urwid</a>
    {{=T(' and ')}} <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/npi/npi&content=view&lang=auto'}} 
    target="_blank">NPI</a>.
    {{=T('It is aimed to present the usage of a keyboard input optimized interface.')}}
  </li>
</ul> -->
