{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'default/layout.html'}}

<style>
.sname {
  background-color: #DAA520;
  color: #FFFFFF;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  font-family: monospace;
  font-size: 16px;
  font-style: italic;
}
</style>

<p>
	A <b>Nervatura Projekt</b> célja olyan adatmodell, eszközök és
	tudásbázis fejlesztése, amelyek segítségével hatékonyan, gyorsan és kis
	költséggel építhetőek biztonságos és rugalmas ügyviteli megoldások. A
	projekt eredményeit elsősorban fejlesztőknek és ügyviteli
	szolgáltatásokat értékesítő cégeknek szánjuk, de természetesen bármely
	cég számára hasznos lehet saját ügyvitelének fejlesztésében.
</p>
<p>
	A projekt több alprojektből áll, melyek mindegyike a Nervatura saját
	objektum modelljén alapul, és annak használatát igyekszik segíteni a
	különböző célú felhasználásokhoz. A projekt fejlesztései - néhány külön
	jelzett bemutató alkalmazás kivételével - nyílt forráskódúak és az <a
		href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPLv3
		License</a> hatálya alatt szabadon felhasználhatóak.
</p>

<hr />
<h2>Áttekintés</h2>

<ul>
	<li><a style="cursor: help;" title="{{=T('More info')}}"
		onclick="var tb=document.getElementById('mom'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
			<span class="sname">NOM</span>&nbsp;<b>Nervatura Object Model</b>
	</a>&nbsp;
		<p>
			Általános adatmodell, amely képes tárolni egy klasszikus gazdasági
			szervezet működése során keletkezett információkat. 
			<a class="w2p_trap buttontext button" title="{{=T('More info')}}"
				onclick="var tb=document.getElementById('mom'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
				<span class="icon plus"></span></a> 
			<div id="mom" style="display: none;">
			<p>Ide értendő minden olyan termelő, forgalmazó és szolgáltató
				cég (vagy kormányzati egység), amely működése értelmezhető és
				leírható egy tetszőleges ÁRU (amit el szeretnénk adni, vagy
				szolgáltatunk) - ÜGYFÉL (akinek dolgozunk) - ERŐFORRÁS (amivel
				rendelkezünk a feladathoz) háromszögben.</p>
			<p>Az adatokat használó, létrehozó alkalmazások, felületek,
				valamint a valós adattárolási réteg között helyezkedik el. Logikai
				objektumokat definiál, és ezek szabadon meghatározható
				tulajdonságai, valamint a közöttük lévő kapcsolatok tárolják az
				információkat. Rugalmas szerkezete lehetővé teszi, hogy
				objektumainknak új tulajdonságokat definiálhassunk, vagy eseményeket
				rendelhessünk hozzájuk.</p>
			<p>Tervezésének fő célja az volt, hogy a fejlesztők az egyes
				alkalmazások készítésekor a megjelenítési rétegre, vagyis a hatékony
				és könnyen kezelhető felhasználói interfészre koncentrálhassanak.
				Nincs szükségük speciális adatbázis tervezői tudásra és az ehhez
				szükséges időre. Adataik tárolásához mégis rendelkezésünkre áll egy
				biztonságos, skálázható (a növekvő adattárolási igényt, és az
				esetleges komplexitást rugalmasan követő), könnyen portolható
				(adatbázis független) eszköz.</p>
			<p>További szempont volt egy fontos ügyvitel fejlesztési elv
				megvalósítása. Elválasztani egymástól az ügyviteli alkalmazásokat és
				az egyes folyamatok során keletkező adatokat. A cél az, hogy a
				programokat használó vállalkozások minden esetben szabadon
				hozzáférhessenek saját adataikhoz. Ennek nem elégséges feltétele az
				adott adatbázis fizikai birtoklása. Biztosítani kell hozzá a tárolt
				adatok helyes értelmezésének és további felhasználhatóságának
				lehetőségét is.</p>
			<p>A <b>NOM</b>-ban tárolt adatok függetlenek az azokat használó
				alkalmazásoktól, ami egyben azt is jelenti, hogy az erre írt
				programok ilyen értelemben kompatibilisek is egymással. Ez nem csak
				két azonos funkciójú program közötti könnyű váltást biztosíthatja.
				Az ezt használó cégek a különböző folyamataik támogatásához könnyen
				tudnak eltérő platformokra (pc, mobil eszközök, adatgyűjtők stb.) és
				különböző technológiákban (HTML5, java, flash, hagyományos
				programnyelvek stb.) írt alkalmazásokat vegyesen használni.</p>
			<p><b><i>További leírást itt találhat:</i></b> 
			  <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/nom/nom&content=view&lang=auto'}} target="_blank"><b><i>Nervatura Object Model</i></b></a>
			</p>
		</div>
		</p>
  </li>
		
	<li><a style="cursor: help;" title="{{=T('More info')}}"
		onclick="var tb=document.getElementById('nas'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
			<span class="sname">NAS</span>&nbsp;<b>Nervatura Application Server</b>
	</a>&nbsp;
		<p>
			Feladata az alkalmazások által küldött kérések fogadása, ellenőrzése,
			majd a megfelelő kiszolgálói réteg felé való továbbítása.
			<a class="w2p_trap buttontext button" title="{{=T('More info')}}"
        onclick="var tb=document.getElementById('nas'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
        <span class="icon plus"></span></a> 
      <div id="nas" style="display: none;">
			<p>
				Itt tárolódnak a jogosultság kezeléshez szükséges adatok, valamint a
				megfelelő adatbázis elérések beállításai. Szintén itt
				implementálhatóak további adatbázis független, felhasználói, vagy
				alkalmazás szintű függvények.<br> A <b>NAS</b> az ügyvitelhez
				kapcsolódó adatokat nem tárol, csak az azok eléréséhez szükséges
				információkat. A konkrét adatbázisok, adatbázis szerverek fizikailag
				itt is elhelyezhetőek, de ezek lehetnek bárhol máshol is a
				világon.
			</p>
			<p>
				A <b>NAS</b> a <a href="http://www.web2py.com/" target="_blank">WEB2PY
					WEB FRAMEWORK</a> technológián alapul és annak biztonsági megoldásait
				használja. A WEB2PY DAL adatbázis kezelésén keresztül számos
				adatbázis drivert támogat, például az SQLite,
				PostgreSQL, MySQL, MSSQL. A fizikai adattárolásra a fenti
				típusok bármelyike választható, illetve tetszés szerint az egyes
				típusok bármikor cserélhetőek is. A Nervatura alkalmazásokban az
				adatelérések függetlenek a tárolás típusától.
			</p>
			<p>A <b>NAS</b> projektnek része a szerver beállítások felhasználói
				felületekkel való támogatása. Például az egyes felhasználói
				jogosultságok, vagy adatbázis elérések beállításainak megadása. Ezek
				távoli használata biztonsági okokból korlátozható.</p>
				
			<p><b><i>További leírást itt találhat: </i></b>
        <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/nas/nas&content=view&lang=auto'}} target="_blank"><b><i>Nervatura Application Server</i></b></a> 
      </p>
    </div>
    </p>
  </li>
	
	<li><a style="cursor: help;" title="{{=T('More info')}}"
    onclick="var tb=document.getElementById('ndi'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
      <span class="sname">NDI</span>&nbsp;<b>Nervatura Data Interface</b>
  </a>&nbsp;
    <p>
			A cél egy könnyen megtanulható, egyszerű és biztonságos
			függvénykészlet létrehozása. Használata főként olyan felhasználóknak
			előnyös, akik bármilyen célból adatokat szeretnének lekérni, vagy
			átadni egy Nervatura ügyféladatbázisnak.
			<a class="w2p_trap buttontext button" title="{{=T('More info')}}"
        onclick="var tb=document.getElementById('ndi'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
        <span class="icon plus"></span></a> 
      <div id="ndi" style="display: none;">
			<p>Lehetséges felhasználási területei például: háttérmentések
				készítése, adatáttöltések, más programoknak -például számviteli
				rendszerek, analitikus adatszolgáltatások stb.-, vagy más
				programoktól való adatok küldése-fogadása, offline adatgyűjtők
				adatainak betöltése, elemzői kimutatások adatforrása, árfolyamok,
				pénzügyi indexek betöltése stb.</p>
			<p>Használatának főbb előnyei, jellemzői:	
			<ul>
				<li>A függvények felépítése az ügymenet logikáját követi, nincs
					szükség az adatok tárolási elveinek, az adatbázis pontos
					szerkezetének megismerésére és megértésére</li>
				<li>A függvények egyszerű http kérések -opcionálisan kódolható
					és titkosítható - formájában bárhonnét, bármilyen eszközből,
					programozási nyelvből könnyen meghívhatóak</li>
				<li>A lekérdezések eredménye többfajta formátumban is
					lekérhető, így text, hml table, xml, Excel</li>
				<li>A függvények aktualizálása az adatbázisok esetleges
					változásaihoz, illetve azok visszamenőleges kompatibilitása
					központilag biztosított. Ez nagyon egyszerűvé teheti az ezekre
					alapozott, automatizált feladatok karbantartását, mert ilyen
					esetekben ezek frissítésére nem kell külön erőforrást biztosítani</li>
				<li>Új adatok felvitelekor egy <b>NOM</b> objektum még addig nem
					létező tulajdonsága az első értékadáskor automatikusan létrejön</li>
				<li>Használatával az adatok megadásánál, frissítésénél
					elkerülhetőek az adatintegritási problémák, az így lekérdezett
					információk biztos, hogy helyesen lettek összeállítva, illetve a
					felvitt adatok tárolva. A beépített szabályrendszere jelzi a
					logikai hibákat is</li>
			</ul>
			</p>
      <p><b><i>További leírást itt találhat:</i></b> 
        <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndi/ndi&content=view&lang=auto'}} target="_blank"><b><i>Nervatura Data Interface</i></b></a></p>
      <p><b><i>A bemutatót itt próbálhatja ki:</i></b> 
        <a href={{=URL( 'ndi_demo', 'index')}} target="_blank"><b><i>Nervatura Data Interface Demo</i></b></a></p>
    </div>
    </p>
  </li>
  
  <li><a style="cursor: help;" title="{{=T('More info')}}"
    onclick="var tb=document.getElementById('npi'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
      <span class="sname">NPI</span>&nbsp;<b>Nervatura Programming Interface</b>
  </a>&nbsp;
    <p>
			A Nervatura adatbázisok közvetlen, adatbázis szintű elérését teszi
			lehetővé. Bizonyos esetekben gyorsabb és hatékonyabb adatkezelést
			tesz lehetővé, mint az <b>NDI</b>, de biztonságos használata alaposabb
			adatbázis szerkezeti, valamint programozói tudást is igényel. 
			<a class="w2p_trap buttontext button" title="{{=T('More info')}}"
        onclick="var tb=document.getElementById('npi'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
        <span class="icon plus"></span></a> 
      <div id="npi" style="display: none;">
			<p>Segítségével az adatbázis pontos helye és típusának ismerete
				nélkül tudunk adatokat küldeni és fogadni, de lehetőségünk van
				adatbázis specifikus jellemzők használatára is. A kommunikáció során
				tetszőleges méretű adatcsomagokat használhatunk, amelyek egyidőben
				tartalmazhatnak adatlekéréseket, adatbeviteleket, vagy szerver
				oldali függvényhívásokat is.</p>
			<p>
				Az adatok kódolására <a href="http://en.wikipedia.org/wiki/Action_Message_Format"
					target="_blank">AMF</a> kódolást használ, ami szükség esetén
				könnyen cserélhető más típusra is. Arra lett tervezve,
				hogy segítségével egyszerűen és gyorsan tudjunk bármilyen eszközön,
				sokféle programozási nyelven elsősorban ügyfél, de akár szerver
				oldali alkalmazásokat készíteni.
			</p>
			<p>
				A <a href={{=URL( 'rpc', 'index')}} target="_blank"><b><i>NervaFlex</i></b></a>
				egy általános, kliens oldali alkalmazás. Adobe Flash alatt készült,
				és úgy lett kialakítva, hogy minél jobban kihasználja és megmutassa
				a <b>NPI</b> függvényeiben levő lehetőségeket. Támogatja mindazokat az
				ügyviteli feladatokat, amik a <b>NWC</b>-nek is részei.
			</p>
			<p><b><i>További leírást itt találhat:</i></b> 
			  <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/npi/npi&content=view&lang=auto'}} target="_blank"><b><i>Nervatura Programming Interface</i></b></a>
			</p>
      <p>A <b><i>NervaFlex</i></b> programot itt próbálhatja ki: 
        <a href={{=URL('ndr', 'getAppl')+'?appl=nflex/nervex.html'}} target="_blank"><b><i>NervaFlex</i></b></a><br>
        Database: <b><i>demo</i></b>, Username: <b><i>demo</i></b>, Password: leave the field empty, not need<br>
        Korlátozott DEMO MODE verzió! Korlátozott funkciók: adatbázis beállítások, jogosultság kezelés és jelszó csere.
      </p>
    </div>
    </p>
  </li>
  
  <li><a style="cursor: help;" title="{{=T('More info')}}"
    onclick="var tb=document.getElementById('nwc'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
      <span class="sname">NWC</span>&nbsp;<b>Nervatura Web Client</b>
  </a>&nbsp;
    <p>
      Egy nyílt forráskódú, a <a href="http://www.web2py.com/" target="_blank">WEB2PY</a> 
      keretrendszerét használó, általános ügyviteli alkalmazás. 
      A célja, hogy bemutassa a Nervatura lehetőségeit a HTML5 technológia keretei között.  
      <a class="w2p_trap buttontext button" title="{{=T('More info')}}"
        onclick="var tb=document.getElementById('nwc'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
        <span class="icon plus"></span></a> 
      <div id="nwc" style="display: none;">
			<p>A kliens már önmagában is működőképes, és teljes értékű
				eszköz, de alapvetően más fejlesztők számára kíván könnyen
				használható, testreszabható kiindulási alapot jelenteni. Erre
				alapozva, a funkcionalitásából elhagyva, vagy hozzátéve, egyszerűen
				létrehozhatják saját felhasználói felületeiket.</p>
			<p>Jellegéből adódóan bármilyen eszközön, egy megfelelő böngészőn
				keresztül futtatható, de felületei elsősorban irodai, desktop
				jellegű (PC, laptop) használatra lettek optimalizálva. Ugyanakkor
				egyes célfeladatokhoz, eltérő beviteli technikákhoz, méretarányokhoz
				(pl. érintőképernyő, tablet, telefon stb.) könnyen kiegészíthető.
				Ezek az alap <b>NWC</b> programnak nem részei, de a 
				<a href={{=response.menu[1][2]}}><b>{{=response.menu[1][0]}}</b></a> részben
				letölthetőek lehetnek.</p>
			<p>A kliensprogram jelenleg az alábbi ügyviteli feladatokat
				támogatja: ajánlatok, rendelések, munkalapok, bérlet, számlázás,
				raktárkezelés, bank- és pénztár, projektek, ügyfél kezelés, termékek
				és termékárak, dolgozók adatai, eszközkezelés, gyártás és összeszerelés, felhasználói
				jogosultság kezelése, kimutatások készítése, egyéb program és adat
				beállító felületek, naplózás.</p>
			
      <p>A <b><i>Web Client</i></b> programot itt próbálhatja ki: 
        <a href={{=URL( 'nwc', 'index')}} target="_blank"><b><i>Nervatura Web Client</i></b></a><br>
        Database: <b><i>demo</i></b>, Username: <b><i>demo</i></b>, Password: leave the field empty, not need<br>
        Korlátozott DEMO MODE verzió! Korlátozott funkciók: adatbázis beállítások, jogosultság kezelés és jelszó csere.
      </p>
    </div>
    </p>
  </li>
  
  <li><a style="cursor: help;" title="{{=T('More info')}}"
    onclick="var tb=document.getElementById('ndr'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
      <span class="sname">NDR</span>&nbsp;<b>Nervatura Data Representation</b>
  </a>&nbsp;
    <p>Feladata az adatmegjelenítési felületek és szabványos
      adatkimenetek támogatása: az adatok nyomtatásától kezdve, a vezetői
      kimutatásokon át a különböző típusú adatok exportjáig.
      <a class="w2p_trap buttontext button" title="{{=T('More info')}}"
        onclick="var tb=document.getElementById('ndr'); if(tb.style.display == 'none'){tb.style.display = 'block';} else {tb.style.display = 'none'}">
        <span class="icon plus"></span></a> 
      <div id="ndr" style="display: none;">
      <p>Az <b>NDI</b> és <b>NPI</b> projektek függvényeikkel az adatok kezelését
        teszik lehetővé: azok módosítását, adatlekérdezések készítését. Az
        <b>NWC</b> célja hasonló, segítségével felhasználói felületeket
        készíthetünk ugyanerre. Az <b>NDR</b> eszközei kiegészítik ezeket, szerepe
        a többi projekt azonos feladatainak támogatása.</p>
      <p>Az adatok összetettebb, vagy speciális megjelenítésére
        természetesen bármikor használhatunk professzionális, erre
        fejlesztett alkalmazásokat, függvénykönyvtárakat. Ugyanakkor
        alapszinten mindezeket a Nervatura saját keretei között is biztosítani igyekszik.
      </p>
      <p>
        Az <b>NDR</b> az alábbi lehetőségeket támogatja:
        <ul>
          <li>adatkimeneteket az elterjedt és ismert adattárolási formátumokban, mint XML, CSV, MS Excel</li>
          <li>adatok megjelenítése PDF, RTF és HTML formátumokban</li>
          <li>egyszerű vezetői és ügyviteli kimutatások készítése</li>
          <li>adatmentések készítése és visszatöltése</li>
          <li>adatok nyomtatását segítő rutinok, nyomtatás helyi, hálózati, vagy Cloud Print nyomtatóra</li>
        </ul>
      </p>
      <p><b><i>További leírást itt találhat:</i></b> 
        <a href={{=URL( 'ndr', 'getResource')+'?file_name=docs/ndr/ndr&content=view&lang=auto'}} 
          target="_blank"><b><i>Nervatura Data Representation</i></b></a></p>
      <p><b><i>További segítséget itt találhat: </i></b> 
        <a href={{=URL( 'report2py', 'index')}} target="_blank"><b><i>Nervatura Report Help & Demo</i></b></a>
      </p>
    </div>
    </p>
  </li>
  
</ul>  