**.pyc
**.pyo
**.log
**.pid
**.table
**.w2p

.project
.pydevproject
.settings

parameters_8000.py
parameters_8080.py
parameters_80.py

GAID
errors
sessions
session.sqlite
storage.sqlite
README.markdown

datastore
gae
gae.py
ntsup
**/images/help/
**/help/nwc/
**/help/nmc/
**/help/nflex/

examples
nerva2py-gae
nervapage
welcome
