{{extend 'nwc/layout.html'}}

<style>

#frm_head {
  width: 500px;
}
input[type="submit"] {
  height: 25px !important;
  padding-top: 3px !important;
}

</style>

<script>
</script>

{{if response.margin_top:}}
  <div align="center" style="margin-top: {{=response.margin_top}};">
{{else:}}
  <div align="center" style="margin-top: 50px;">
{{pass}}    
{{=form.custom.begin}}
<div id="frm_head">
<table width="100%" style="background-color: #2B2B2B;" 
    cellpadding="0" cellspacing="0">
     <tr>
       <td style="padding-left: 5px;vertical-align: middle;">
         <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
         <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.title}}</span>
         <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                {{=response.subtitle}}</span>
       </td>
       <td style="padding: 4px 10px 0px 0px;width: 100px;">
          {{=form.custom.submit}}
       </td>
       <td style="padding: 4px 0px 0px 0px;width: 45px;">
        {{=response.cmd_help}}
       </td>
       <td style="padding: 4px 0px 0px 0px;width: 45px;">
         {{=response.cmd_back}}
       </td>
     </tr>
   </table>
<div id="nwc_input">  
  {{if not response.prm_input:}}  	  
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 15px 15px 0px 10px;width: 100px;"><div class="label">{{=form.custom.label.groupvalue}}</div></td>
      <td style="padding: 14px 15px 0px 0px;">{{=form.custom.widget.groupvalue}}</td>
      <td style="padding: 17px 10px 0px 0px;width: 100px;vertical-align: top;" >{{=response.cmd_delete}}</td> 
    </tr>
  </table>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 20px 5px 10px;width: 100px;"><div class="label">{{=T('Description')}}</div></td>
      <td style="padding: 10px 15px 5px 0px;width: 100px;"><div class="label">{{=T('Data filter')}}</div></td>
      <td style="padding: 11px 5px 5px 0px;width: 100px;">{{=response.cmb_transfilter}}{{=response.transfilter_id}}</td>
      <td style="padding: 10px 10px 5px 0px;width: 100px;"><div class="label">{{=form.custom.label.inactive}}</div></td>
      <td style="padding: 12px 7px 0px 0px;width: 20px;vertical-align: top;" >{{=form.custom.widget.inactive}}</td> 
    </tr>
  </table>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 6px 20px 5px 10px;width: 100%;">{{=form.custom.widget.description}}</td>
    </tr>
    <tr>
      <td style="padding: 0px 20px 0px 10px;width: 100%;">
        <div style="text-align: center;padding-bottom: 0px;" class="label">
        {{=T('Access rights')}}&nbsp;{{=response.cmd_add_audit}}</div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 10px 15px 10px;width: 100%;" >
        {{=view_audit}}
      </td>
    </tr>
  </table>
  {{else:}}
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 5px 15px 0px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.nervatype}}</div></td>
      <td style="padding: 8px 20px 0px 0px;width: 150px;">
        {{if form.formname=='ui_audit/create':}}
          {{=form.custom.widget.nervatype}}
        {{else:}}
          <div class="label_disabled">{{=form.custom.widget.nervatype}}</div>
        {{pass}}
      </td>
      <td><div></div></td> 
    </tr>
    {{if form.custom.widget.subtype:}}
    <tr>
      <td style="padding: 5px 15px 0px 10px;width: 100px;"><div class="label">{{=form.custom.label.subtype}}</div></td>
      <td style="padding-top: 8px;padding-left: 0px;padding-right: 10px;width: 150px;">{{=form.custom.widget.subtype}}</td> 
      <td><div></div></td>
    </tr>
    {{pass}}
    {{if response.nervatype=="trans":}}
    <tr>
      <td style="padding: 12px 15px 0px 10px;width: 100px;"><div class="label">{{=form.custom.label.supervisor}}</div></td>
      <td style="padding: 8px 15px 0px 0px;width: 100px;">{{=form.custom.widget.supervisor}}</td>
      <td><div></div></td>
    </tr>
    {{pass}}
     <tr>
      <td style="padding: 0px 15px 0px 10px;width: 100px;"><div class="label">{{=form.custom.label.inputfilter}}</div></td>
      <td style="padding: 8px 15px 10px 0px;width: 150px;">{{=form.custom.widget.inputfilter}}</td>
      <td><div></div></td>
    </tr>
  </table>
  {{pass}}
</div></div>
{{=form.custom.end}}
</div>

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>