{{extend 'nwc/layout.html'}}

<style>

input[type="submit"] {
  padding-top: 3px !important;
}
.container{ 
  margin: 0px;  
} 
.container .sixteen.columns {
  width: auto;
  padding-right: 10px;
}

#frm_head_edit {
  background-color: #F2F2F2;
  border-style: solid;
  border-width: 5px;
}

</style>

<script>
var ms_err_rate_missing_ratetype = "{{=T('Missing type value!')}}";
var ms_err_rate_missing_ratedate = "{{=T('Missing date value!')}}";

var ms_err_price_missing_validfrom = "{{=T('Missing Start Date!')}}";
var ms_err_price_missing_calcmode = "{{=T('Missing calculation mode!')}}";
var ms_err_price_no_list = "{{=T('The relationship between a customer and a group can not be set at once. List price both left blank!')}}";

var ms_err_missing_curr = "{{=T('Missing currency value!')}}";
</script>

<div id="frm_head"> 
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu" align="center" >
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td style="vertical-align: middle;white-space: nowrap;" >
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.browsertype}}</span>
              <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;white-space: nowrap;">
                {{=response.subtitle[:50]}}</span>
            </td>
            <td style="padding-left: 50px;padding-right: 50px;">
              <div class="navbar navbar-inverse">
                <div class="nav">
                  {{=MENU(response.lo_menu, _class='nav',mobile=False,li_class='dropdown',ul_class='dropdown-menu')}}
                </div><!--/.nav-collapse -->
              </div>
            </td>     
            <td style="padding-left:0px;padding-right: 0px;">
              <a style="text-align:center; height: 19px;padding-top: 2px; padding-bottom: 2px;" 
	              class="w2p_trap buttontext button" href="{{=response.export_excel}}" 
	              target="_blank" title="{{=T('Export to Excel')}}">
	            <span style="font-weight: bold;">{{=T('Excel')}}</span></a>
            </td>
            <td style="padding-left:0px;padding-right: 0px;">
              <a style="text-align:center; height: 19px;padding-top: 2px; padding-bottom: 2px;" 
	              class="w2p_trap buttontext button" href="{{=response.export_csv}}"
	              target="_blank" title="{{=T('Export to csv file')}}">
	            <span style="font-weight: bold;">{{=T('CSV')}}</span></a>
            </td>
            
            <td style="width: auto;padding-left:30px;padding-right: 0px;">
              <a style="height: 15px;" class="w2p_trap buttontext button" href="{{=URL('cmd_go_help?page=browser')}}" 
	            target="_blank" title="{{=T('Help')}}">
	              {{=response.icon_help}}</a>
            </td>
            <td style="padding-left:0px;padding-right: 0px;">
              {{if response.cmd_back:}}
	            {{=response.cmd_back}}
	          {{else:}}
	            <a style="height: 15px; padding-top: 2px; padding-bottom: 6px;" class="w2p_trap buttontext button" href="{{=URL('index')}}" title="{{=T('Back')}}">
                  <span class="icon home"></span></a>
	          {{pass}}
            </td>
            {{if response.cmd_edit_new:}}
            <td>
              {{=response.cmd_edit_new}}
            </td>
            {{pass}}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
{{if response.filter_form:}}
  {{=response.filter_form}}
{{pass}}
{{if response.edit_form:}}
  <div id="edit_form"
      style="display: none;border-style: solid;border-width: 7px;border-color: #CCCCCC;padding: 8px;padding-bottom: 3px;" >
      {{=response.edit_form.custom.begin}}
      <div id="frm_head_edit">
        <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding-left: 5px;vertical-align: middle;">
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.edit_icon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=response.edit_title}}</span>
              <span id="title_item" 
                style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 0px;"></span>
            </td>
            <td style="width: 120px;padding: 4px 20px 0px 0px;">
              {{=response.cmd_edit_update}}
            </td>
            <td style="width: 45px;padding: 4px 0px 0px 0px;">
              {{=response.cmd_edit_cancel}}
            </td>
          </tr>
        </table>
        {{=response.edit_items}}
      </div>
      {{=response.edit_id}}
      {{=response.edit_form.custom.end}}
  </div>
{{pass}}
{{=form}}
</div>