{{extend 'nwc/layout.html'}}

<style>
<!--
body  {
  background: #FFFFFF;
}
-->
</style>
  
<table style="width: 100%;height: 100%;"
  cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="text-align: center;padding-top: 10px;">
      <img style="vertical-align: middle;" 
        src="{{=URL('static','images/icon256_ntura_te.png')}}" />
    </td>
  </tr>
  <tr>
    <td style="text-align: center;font-size: 10em;font-weight: bold;padding-top: 60px;">
      {{=T('Welcome')}}
    </td>
  </tr>
</table>
