{{extend 'nwc/layout.html'}}

<style>
td.w2p_fl {
  text-align: left;
  cursor: default;
  max-width: 200px !important;
}
td.w2p_fw {
  padding-top: 2px;
  max-width: 200px !important;
}
#frm_head {
  width: 460px;
}
input[type="submit"] {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  height: 100%;
}
</style>

<div align="center" style="margin-top: 50px;"> 
<div id="frm_head" >  
<table style="background-color: #2B2B2B;" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 5px;vertical-align: middle;">
      <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
      <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=T("PARAMETERS")}}</span>
    </td>
    <td style="width:45px;padding: 4px 0px 0px 0px;">
      {{=response.cmd_help}}</td>
    <td style="width: 45px;padding: 4px 0px 0px 0px;">
      {{=response.cmd_back}}
    </td>
  </tr>
  <tr>
    <td style="padding-top: 5px;padding-bottom: 5px;background-color: #DBDBDB;text-align: center;" colspan="3">
      <span style="vertical-align: middle;font-style: italic;font-weight: bold;">
        {{=response.description}}</span>
    </td>
  </tr>
</table>

<table style="font-size: 18px;" cellpadding="0" cellspacing="0">
  <tr>
  {{if not response.return_value:}}
    <td style="padding-top: 30px;text-align: center;">
      {{=form.custom.begin}}
      {{=form[0]}}
      {{=form.custom.end}}
    </td>
  {{else:}}  
    <td style="padding: 20px;">      
      {{=response.return_value}}
    </td>
  {{pass}}
  </tr>
</table>

</div></div>