{{extend 'nwc/layout.html'}}

<style>
#frm_head {
{{if not response.prm_input:}}
  width: 700px;
{{else:}}
  width: 500px;
{{pass}}
}

input[type="submit"] {
  padding-top: 2px !important;
}
</style>

<div align="center" style="margin-top: 50px;">    
{{=form.custom.begin}}
<div id="frm_head">
  <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
     <tr>
       <td style="padding-left: 5px;vertical-align: middle;">
         <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
         <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.title}}</span>
         <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                {{=response.subtitle}}</span>
       </td>
       <td style="width: 120px;padding: 4px 20px 0px 0px;">
          {{=form.custom.submit}}
       </td>
       <td style="width:45px;padding: 4px 0px 0px 0px;">
         {{=response.cmd_help}}</td>
       <td style="width: 45px;padding: 4px 0px 0px 0px;">
         {{=response.cmd_back}}
       </td>
     </tr>
   </table>
  
  {{if not response.prm_input:}}  	  
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 5px 0px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.menukey}}</div>
      </td>
      <td style="padding: 10px 10px 0px 10px;width: 150px;">
        {{=form.custom.widget.menukey}}
      </td>
      <td style="padding: 10px 5px 0px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.description}}</div>
      </td>
      <td style="padding: 10px 20px 0px 10px;">
        {{=form.custom.widget.description}}</td> 
    </tr>
  </table>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 5px 0px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.funcname}}</div>
      </td>
      <td style="padding: 10px 10px 0px 10px;">
        {{=form.custom.widget.funcname}}
      </td>
      <td style="padding: 10px 5px 0px 10px;width: 80px;">
        <div class="label">{{=form.custom.label.modul}}</div>
      </td>
      <td style="padding: 10px 10px 0px 10px;width: 90px;";">
        {{=form.custom.widget.modul}}
      </td>
      <td style="padding: 10px 5px 0px 10px;width: 80px;">
        <div class="label">{{=form.custom.label.icon}}</div>
      </td>
      <td style="padding: 10px 20px 0px 10px;width: 90px;">
        {{=form.custom.widget.icon}}
      </td>
    </tr>
  </table>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.address}}</div>
      </td>
      <td style="padding: 10px 10px 5px 10px;">
        {{=form.custom.widget.address}}
      </td>
      <td style="padding: 10px 5px 5px 10px;width: 60px;">
        <div class="label">{{=form.custom.label.url}}</div>
      </td>
      <td style="padding: 9px 5px 5px 5px;width: 20px;vertical-align: top;" >
        {{=form.custom.widget.url}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 5px 20px 0px 10px;">
        <div style="text-align: center;padding-bottom: 0px;height: 30px;" class="label">
        {{=T('Parameters')}}&nbsp;{{=response.cmd_add_field}}</div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 0px 10px 10px 10px;" >
        {{=view_menufields}}
      </td>
    </tr>
  </table>
  {{else:}}
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.fieldname}}</div>
      </td>
      <td colspan="2" style="padding: 10px 20px 5px 10px;">
        {{=form.custom.widget.fieldname}}
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.description}}</div>
      </td>
      <td colspan="2" style="padding: 5px 20px 5px 10px;">
        {{=form.custom.widget.description}}
      </td> 
    </tr>
    <tr>
      <td style="padding: 5px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.fieldtype}}</div>
      </td>
      <td style="padding: 5px 20px 5px 10px;width: 100px;">
        {{=form.custom.widget.fieldtype}}
      </td>
      <td><div></div></td> 
    </tr>
    <tr>
      <td style="padding: 5px 5px 10px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.orderby}}</div>
      </td>
      <td style="padding: 5px 20px 10px 10px;width: 100px;">
        {{=form.custom.widget.orderby}}
      </td> 
      <td><div></div></td>
    </tr>
  </table>
  {{pass}}
</div>
{{=form.custom.end}}
</div>