{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'nwc/layout.html'}}
{{footer_enabled=False}}

<style>
body  {
background: #808080;
margin: 0;
}
.main {
  padding: 10px 0 10px 0;
}
#frm_head {
  background-color: #F2F2F2;
  border-style: solid;
  border-width: 5px;
}
td {
  vertical-align: top;
}
.label {
  font-weight: bold;
  padding: 5px;
  background-color: #DBDBDB;
}
.td_label {
  vertical-align: top;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.label_disabled {
  padding: 5px;
  background-color: #FFFFFF;
  width: 97%;
  height: 18px;
  border: 1px solid #CCC;
}
.label_error {
  padding: 5px;
  background-color: #FF0000;
  color: #FFFFFF;
  width: 100%;
  height: 18px;
  border: 1px solid #CCC;
}
.td_label_nf {
  vertical-align: top;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;  
}
.web2py_console {
  padding: 0px;
  height: 0px !important;
  min-height: 0px !important;
}
.web2py_search_actions {
  visibility:hidden;
  height: 0px !important;
  min-height: 0px !important;
}

.web2py_table {
  font-size: small;
}
.web2py_grid {
  background-color: #FFFFFF;
}
.web2py_grid tbody td {
  height:34px;
  border-bottom: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
#menu input[type="submit"] {
  height: 25px !important;
  padding-top: 2px !important;
  color: #008B00;
  width: 100%;
}
input[type="checkbox"] {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;  
}

#filter_username {
  width: 100%;
}
#filter_transnumber {
  width: 100%;
}
#filter_nervatype {
  width: 120px;
  height: 29px;
}
#filter_fromdate {
  width: 100%;
}
#filter_enddate {
  width: 100%;
}
</style>

<script>

var ms_err_missing_printer = "{{=T('Missing server printer name!')}}";
var ms_err_missing_local_printer_support = "{{=T('Missing or disabled Nervatura Client Additions!')}}";
var ms_err_local_printer = "{{=T('Error during printing!')}}";
var ms_ok_export = "{{=T('% row(s) exported!')}}";
var ms_ok_print = "{{=T('% row(s) printed!')}}";
</script>

<div align="center" style="margin-top: 20px;">     
{{=form.custom.begin}}
<div id="frm_head">
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
            </td>
            <td style="width: 120px;">
              {{=form.custom.submit}}
            </td>
            <td style="text-align: right;padding-right: 20px;">
              {{=response.cmd_help}}
	          {{=response.cmd_back}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
    	  
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding-top: 15px;padding-bottom: 15px;padding-right: 5px;" class="td_label"><div class="label">{{=form.custom.label.nervatype}}</div></td>
      <td style="width: 120px; padding-top: 15px;padding-bottom: 15px;padding-left: 0px;padding-right: 0px;">{{=form.custom.widget.nervatype}}</td>
      <td style="padding-top: 15px;padding-bottom: 15px;padding-left: 5px;padding-right: 5px;" class="td_label"><div class="label">{{=T('Date')}}</div></td>
      <td style="width: 80px;padding-top: 16px;padding-bottom: 15px;padding-left: 0px;padding-right: 10px;">{{=form.custom.widget.fromdate}}</td>
      <td style="width: 80px;padding-top: 16px;padding-bottom: 15px;padding-left: 5px;padding-right: 10px;">{{=form.custom.widget.enddate}}</td>
      <td style="padding-top: 15px;padding-bottom: 15px;padding-left: 5px;padding-right: 5px;" class="td_label"><div class="label">{{=form.custom.label.transnumber}}</div></td>
      <td style="width: 140px;padding-top: 16px;padding-bottom: 15px;padding-left: 0px;padding-right: 5px;">{{=form.custom.widget.transnumber}}</td>
      <td style="padding-top: 15px;padding-bottom: 15px;padding-right: 5px;" class="td_label"><div class="label">{{=form.custom.label.username}}</div></td>
      <td style="width: 140px;padding-top: 16px;padding-bottom: 15px;padding-left: 0px;padding-right: 20px;">{{=form.custom.widget.username}}</td> 
    </tr>
  </table>
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding-top: 10px;padding-bottom: 8px;padding-right: 5px;" class="td_label"><div class="label">{{=T("Printer Mode: ")}}</div></td>
      <td style="width: 70px;padding-top: 10px;padding-bottom: 8px;padding-left: 0px;padding-right: 5px;vertical-align: middle;">{{=response.cmb_printer_type}}</td>
      <td style="padding-top: 10px;padding-bottom: 8px;padding-left: 0px;padding-right: 5px;" class="td_label"><div class="label">{{=T("Server printer: ")}}</div></td>
      <td style="width: 150px;padding-top: 10px;padding-bottom: 8px;padding-left: 0px;padding-right: 5px;vertical-align: middle;">{{=response.cmb_printers}}</td>
      <td style="width: 70px;padding-top: 10px;padding-bottom: 8px;padding-left: 0px;padding-right: 5px;vertical-align: middle;">{{=response.cmb_orientation}}</td>
      <td style="width: 60px;padding-top: 10px;padding-bottom: 8px;padding-left: 0px;padding-right: 5px;vertical-align: middle;">{{=response.cmb_size}}</td>
      <td style="padding-top: 12px;padding-bottom: 6px;padding-right: 10px;vertical-align: middle;">
        {{=response.cmd_print_selected}}
      </td>
      <td style="padding-top: 12px;padding-bottom: 6px;padding-right: 20px;padding-left: 5px;vertical-align: middle;">
        {{=response.cmd_print_filter}}
      </td>
    </tr>
  </table>
  {{=view_printqueue}}
</div>
{{=form.custom.end}}
</div>