{{extend 'nwc/layout.html'}}

<style>
#frm_head {
{{if form.formname!='product/create':}}
  border-bottom: none;
{{pass}}
}
input[type="submit"] {
  padding-top: 2px !important;
}
#fieldvalue_notes {
  height: 80px;
}
</style>

<script>
$(function() {
  $("#tabs").tabs();
});

var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
var ms_err_field_update = "{{=T('Read-only data!')}}";

var ms_err_barcode_missing_code = "{{=T('Missing code value!')}}";
var ms_err_barcode_missing_barcodetype = "{{=T('Missing code type!')}}";
</script>

{{=form.custom.begin}}
<div id="frm_head">
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="vertical-align: middle;">
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
              <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                {{=response.partnumber}}</span>
            </td>
            <td style="width:120px;padding-right: 5px;">
              {{=form.custom.submit}}
            </td>
            <td style="width:120px;padding-right: 5px;">
              {{=response.cmd_report}}
            </td>
            <td style="width:120px;padding-right: 20px;">
              {{=response.cmd_delete}}
            </td>
            <td style="width:45px;padding-right: 0px;">
              {{=response.cmd_help}}</td>
            <td style="width: 45px;padding-right: 20px;">
              {{=response.cmd_back}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
<div id="nwc_input">    	  
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 10px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.partnumber}}</div>
      </td>
      <td style="padding: 10px 15px 5px 10px;">
        {{=form.custom.widget.partnumber}}</td>
      <td style="padding: 10px 5px 5px 5px;width: 100px;">
        <div class="label">{{=form.custom.label.protype}}</div></td>
      <td style="padding: 10px 22px 5px 10px;width: 200px;">
        {{if form.formname!='product/create':}}
          <div class="label_disabled">{{=form.custom.widget.protype}}</div>
        {{else:}}
          {{=form.custom.widget.protype}}
        {{pass}}
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 5px 5px 10px;width: 100px;">
        <div class="label">{{=form.custom.label.description}}</div>
      </td>
      <td colspan="3" style="padding: 5px 20px 5px 10px;">{{=form.custom.widget.description}}</td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 0px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding: 5px 5px 5px 10px;width: 100px;">
              <div class="label">{{=form.custom.label.unit}}</div>
            </td>
            <td style="padding: 5px 5px 5px 10px;">
              {{=form.custom.widget.unit}}</td>
            <td style="padding: 5px 5px 5px 15px;width: 80px;">
              <div class="label">{{=form.custom.label.tax_id}}</div>
            </td>
            <td style="padding: 5px 5px 5px 10px;width: 70px;">
              {{=form.custom.widget.tax_id}}</td>
            <td style="padding: 5px 5px 5px 5px;width: 100px;">
              <div class="label">{{=form.custom.label.webitem}}</div>
            </td>
            <td style="padding: 0px 0px 5px 5px;width: 35px;" >
              {{=form.custom.widget.webitem}}
            </td>
            <td style="padding: 5px 5px 5px 0px;width: 100px;">
              <div class="label">{{=form.custom.label.inactive}}</div>
            </td>
            <td style="padding: 0px 0px 5px 5px;width: 35px;" >
              {{=form.custom.widget.inactive}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding-left:0px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding: 5px 10px 0px 10px;">
              <div class="label">{{=form.custom.label.notes}}</div>
            </td>
            <td style="padding: 5px 5px 5px 10px;width: 160px;">
              {{=response.cmd_price}}</td>
            <td style="padding: 5px 0px 5px 0px;width: 160px;">
              {{=response.cmd_discount}}</td>
          </tr>
        </table>
      </td>  
    </tr>
    <tr>
      <td colspan="4" style="padding: 0px 20px 10px 10px;">
        {{=form.custom.widget.notes}}
      </td>
    </tr>
  </table>
</div></div>
{{=form.custom.end}}

{{if form.formname!='product/create':}}
  <div id="tabs" style="background-color: #FFFFFF;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;width: 100%;"><ul>     
			<li><a class="tab_label" href="#tabs-1">
			  {{=response.icon_deffield}}
			  {{=T('Additional Data')}}
			  {{=response.cmd_fieldvalue_new}}</a>
			  </li>
			<li><a class="tab_label" href="#tabs-2">
			  {{=response.icon_barcode}}
			  {{=T('Barcodes')}}
			  {{=response.cmd_barcode_new}}</a></li>
			{{if not response.event_disabled:}}
			<li><a class="tab_label" href="#tabs-3">
			  {{=response.icon_calendar}}
			  {{=T('Product Events')}}
			  {{=response.cmd_event_new}}</a></li>
			{{pass}}
	    </ul></td>
      </tr>
    </table>
	
	<div id="tabs-1" style="overflow: auto;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" 
            style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
            <tr>
              {{if response.cmd_fields:}}
              <td style="padding: 7px 0px 5px 5px;width: 16px;">
                  {{=response.cmd_fields}}</td>
              {{pass}}
              <td style="padding: 5px 5px 5px 0px;width: 150px;">
                {{if response.cmb_fields:}}
                <div class="label" style="font-size: small;">
                  {{=T('Additional Data')}}</div>
                {{else:}}
                <div style="height: 30px;"></div>
                {{pass}}
              </td>
              <td style="padding: 5px 5px 5px 10px;">
                  {{=response.cmb_fields}}</td>
            </tr>
          </table>
        </td>
        <td style="padding: 5px 10px 0px 5px;width: 25%;">
          <div class="label">
            {{=response.cmd_groups_add}}
            {{=response.cmd_groups}}
            {{=T('Product Groups')}}
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding: 0px;">
          <div id="edit_fieldvalue" class="frm_tab_edit_1">
            {{=response.fieldvalue_form.custom.begin}}
            <div class="frm_tab_edit_2">
              <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 5px;vertical-align: middle;">
                    <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.fieldvalue_icon}}" />
                    <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('FIELD')}}</span>
                    <span id="title_item" 
                      style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                      {{=response.partnumber}}</span>
                  </td>
                  <td style="width: 120px;padding: 4px 20px 0px 0px;">
                    {{=response.cmd_fieldvalue_update}}
                  </td>
                  <td style="width:45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_help}}</td>
                  <td style="width: 45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_fieldvalue_cancel}}
                  </td>
                </tr>
              </table>
              <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
                width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 13px 15px 5px 10px;width: 200px;">
                    <div id="fieldvalue_description" class="label" ></div>
                  </td>
                  <td style="padding-top: 10px;padding-right: 20px;">
                    <div id="fieldvalue_value_controls">
                      <input id="fieldvalue_value" type="hidden" name="value" value="">
                      <input id="fieldvalue_value_bool" 
                        type="checkbox" name="value_bool" class="boolean" value="true" checked="checked" style="display: none;width: 100%;">
                      <input id="fieldvalue_value_integer" 
                        type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_float" 
                        type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_date" 
                        type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
                      <input id="fieldvalue_value_password" 
                        type="password" name="value_password" value="" style="display: none;width: 100%;" >
                      <input id="fieldvalue_value_text" 
                        type="text" name="value_text" value="" style="display: none;width: 100%;" >
                      <select id="fieldvalue_value_valuelist" 
                        name="value_valuelist" class="generic-widget" style="width: 100%;height: 30px;display: none;"></select>
                      <textarea id="fieldvalue_value_notes" 
                        name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
                      {{=response.fieldvalue_customer_selector}}
                      {{=response.fieldvalue_tool_selector}}
                      {{=response.fieldvalue_product_selector}}
                      {{=response.fieldvalue_transitem_selector}}
                      {{=response.fieldvalue_transpayment_selector}}
                      {{=response.fieldvalue_transmovement_selector}}
                      {{=response.fieldvalue_project_selector}}
                      {{=response.fieldvalue_employee_selector}}
                      {{=response.fieldvalue_place_selector}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 5px 20px 5px 10px;">
                    <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 0px 20px 10px 10px;">
                    {{=response.fieldvalue_form.custom.widget.notes}}</td>
                </tr>
              </table>
            </div>
            {{=response.fieldvalue_id}}
            {{=response.fieldvalue_ref_id}}
            {{=response.fieldvalue_fieldname}}
            {{=response.fieldvalue_fieldtype}}
            {{=response.fieldvalue_readonly}}
            {{=response.fieldvalue_form.custom.end}}
          </div>
          {{=response.view_fields}}
        </td>
        <td style="vertical-align: top;padding-top: 0px; padding-right: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px;height: 100%;" >
            <tr>
              <td style="vertical-align:top; padding: 5px 0px 0px 5px;">{{=response.cmb_groups}}</td>
            </tr>
            <tr>
              <td style="vertical-align: top; padding: 5px;padding-right: 0px;">
                {{=response.view_product_groups}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
	<div id="tabs-2">
	  <div id="edit_barcode" class="frm_tab_edit_1" >
      {{=response.barcode_form.custom.begin}}
      <div class="frm_tab_edit_2">
        <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding-left: 5px;vertical-align: middle;">
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.barcode_icon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('BARCODE')}}</span>
              <span id="title_item" 
                style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                {{=response.partnumber}}</span>
            </td>
            <td style="width: 100px;padding: 4px 20px 0px 0px;">
              {{=response.cmd_barcode_update}}
            </td>
            <td style="width:45px;padding: 4px 0px 0px 0px;">
              {{=response.cmd_barcode_help}}</td>
            <td style="width: 45px;padding: 4px 0px 0px 0px;">
              {{=response.cmd_barcode_cancel}}
            </td>
          </tr>
        </table>
        <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding: 13px 15px 5px 10px;width: 100px;">
              <div class="label">{{=response.barcode_form.custom.label.code}}</div>
            </td>
            <td style="padding-top: 10px;padding-right: 20px;">
              {{=response.barcode_form.custom.widget.code}}
            </td>
          </tr>
        </table>
        <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
           <tr>
            <td style="padding: 7px 5px 5px 10px;width: 100px;">
              <div class="label">{{=response.barcode_form.custom.label.defcode}}</div>
            </td>
            <td style="padding: 3px 0px 5px 5px;width: 30px;">
              {{=response.barcode_form.custom.widget.defcode}}
            </td>
            <td style="padding: 7px 5px 5px 0px;width: 100px;">
              <div class="label">{{=response.barcode_form.custom.label.barcodetype}}</div>
            </td>
            <td style="padding: 7px 5px 5px 10px;">
              {{=response.barcode_form.custom.widget.barcodetype}}
            </td>
            <td style="padding: 7px 10px 5px 5px;width: 100px;">
              <div class="label">{{=response.barcode_form.custom.label.qty}}</div></td>
            <td style="padding: 7px 20px 5px 5px;width: 150px;">
              {{=response.barcode_form.custom.widget.qty}}
            </td>
          </tr>
        </table>
        <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
           <tr>
            <td style="padding: 7px 10px 10px 10px;width: 100px;vertical-align: top;">
              <div class="label">{{=response.barcode_form.custom.label.description}}</div>
            </td>
            <td style="padding: 7px 20px 10px 5px;">
              {{=response.barcode_form.custom.widget.description}}
            </td>
          </tr>
        </table>
      </div>
      {{=response.barcode_id}}
      {{=response.barcode_product_id}}
      {{=response.barcode_form.custom.end}}
    </div>
    {{=response.view_barcode}}
	</div>
	{{if not response.event_disabled:}}
	<div id="tabs-3">
	  {{=response.view_event}}
	</div>
	{{pass}}
  </div>
{{pass}}

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>