{{extend 'nwc/layout.html'}}

<style>
#frm_head {
{{if response.description:}}
  width: 550px;
{{pass}}
}
input[type="submit"] {
  padding-top: 2px !important;
}
td.w2p_fl {
  text-align: left;
  cursor: default;
  max-width: 200px !important;
  padding-left: 20px;
}
td.w2p_fw {
  width: 300px;
}
td.w2p_fc {
  width: 20px;
}
</style>

<div align="center" style="margin-top: 20px;"> 
<div id="frm_head">
{{if response.description:}}
  {{=form.custom.begin}}
{{pass}}
<div id="frm_title">
<table style="background-color: #2B2B2B;" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-left: 5px;vertical-align: middle;">
            <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
            <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=T("REPORTS")}}</span>
          </td>
          {{if response.description:}}
          <td style="width:150px;padding: 4px 20px 0px 0px;">
            {{=response.cmd_preview}}
          </td>
          {{pass}}
          <td style="width:45px;padding: 4px 0px 0px 0px;">
            {{=response.cmd_help}}</td>
          <td style="width: 45px;padding: 4px 0px 0px 0px;">
            {{=response.cmd_back}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{if response.description:}}
  <tr>
    <td style="text-align: center;padding-top: 10px;padding-bottom: 2px;background-color: #DBDBDB;">
      <span style="vertical-align: middle;font-style: italic;font-weight: bold;">{{=response.subtitle}}</span>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 10px 10px 10px;background-color: #DBDBDB;text-align: justify;">
      <span style="vertical-align: middle;font-style: italic;">{{=response.description}}</span>
    </td>
  </tr>
  {{pass}}
</table>
</div>

{{if response.description:}}
<div id="nwc_input">
  <table width="100%" cellpadding="0" cellspacing="0">
    {{if response.rtable:}}
    <tr>
      <td>
        {{=response.rtable}}
      </td>
    </tr>
    {{pass}}
    <tr>
      <td style="padding: 10px;">
        {{=form[0]}}
      </td>
    </tr>
  </table>
</div>
  {{=form.custom.end}}
{{else:}}
  {{=sform}}
  {{=form}}
{{pass}}
</div>
</div>

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>