{{extend 'nwc/layout.html'}}

<style>

#frm_head,
#edit_fieldvalue {
  width: auto;
  max-width: 700px;
}
input[type="submit"] {
  padding-top: 2px !important;
}
#fieldvalue_notes {
  height: 80px;
}
</style>

<script>
var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
var ms_err_field_update = "{{=T('Read-only data!')}}";
</script>

<div align="center">
	{{if response.margin_top:}}
	<div align="center" style="margin-top: {{=response.margin_top}}">
		{{else:}}
	<div align="center" style="margin-top: 50px;">
	{{pass}}
	
    <div id="frm_head">
			<div id="frm_items">
				<table width="100%" style="background-color: #2B2B2B;"
					cellpadding="0" cellspacing="0">
					<tr>
						<td style="padding-left: 5px;vertical-align: middle;">
						  <img style="vertical-align: middle;" height="16px" width="16px" src="{{=response.titleicon}}" /> 
							<span style="vertical-align: middle; color: #FFD700; font-weight: bold;">{{=response.title}}</span>
							<span style="vertical-align: middle; color: #FFFFFF; font-weight: bold; font-style: italic; font-size: large;padding-left: 5px;">
								{{=response.subtitle}}</span>
						</td>
						<td style="width: 45px;padding: 4px 0px 0px 0px;">
							{{=response.cmd_back}}
					  </td>
					</tr>
				</table>
			</div>
			<div id="nwc_input">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td style="width: 100%;padding: 8px 10px 15px 10px;">
							{{=sform}}
							{{=form}}
							</td>
					</tr>
				</table>
			</div>
    </div>
			
    <div id="edit_fieldvalue" style="display: none;">
        {{=response.fieldvalue_form.custom.begin}}
        <div class="frm_tab_edit_2">
          <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-left: 5px;vertical-align: middle;">
                <img style="vertical-align: middle;" height="16px" width="16px" src="{{=response.fieldvalue_icon}}" /> 
                <span style="vertical-align: middle; color: #FFD700; font-weight: bold; padding-right: 10px;">
                  {{=T('FIELD')}}</span>
                <span id="title_item" style="vertical-align: middle; color: #FFFFFF; font-weight: bold; font-style: italic;font-size: large;padding-right: 5px;">
                  {{=response.subtitle}}</span>
              </td>
              <td
                style="width: 120px;padding: 4px 20px 0px 0px;">
                {{=response.cmd_fieldvalue_update}}</td>
              <td
                style="width: 45px;padding: 4px 0px 0px 0px;">
                {{=response.cmd_fieldvalue_cancel}}</td>
            </tr>
          </table>
          <table
            style="border-style: solid; border-width: 1px; border-color: #CCCCCC; border-top: none;"
            width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 13px 15px 5px 10px;width: 200px;">
                    <div id="fieldvalue_description" class="label" ></div>
                  </td>
                  <td style="padding-top: 10px;padding-right: 20px;">
                <div id="fieldvalue_value_controls">
                  <input id="fieldvalue_value" type="hidden" name="value"
                    value=""> <input id="fieldvalue_value_bool"
                    type="checkbox" name="value_bool" class="boolean" value="true"
                    checked="checked" style="display: none; width: 100%;">
                  <input id="fieldvalue_value_integer" type="text"
                    name="value_integer" class="integer" value=""
                    style="display: none; width: 100%; text-align: right;">
                  <input id="fieldvalue_value_float" type="text"
                    name="value_float" class="double" value=""
                    style="display: none; width: 100%; text-align: right;">
                  <input id="fieldvalue_value_date" type="text" name="value_date"
                    class="date" value=""
                    style="display: none; width: 100%; text-align: center;">
                  <input id="fieldvalue_value_password" 
                    type="password" name="value_password" value="" style="display: none;width: 100%;" >
                  <input id="fieldvalue_value_text" type="text" name="value_text"
                    value="" style="display: none; width: 100%;"> <select
                    id="fieldvalue_value_valuelist" name="value_valuelist"
                    class="generic-widget"
                    style="width: 100%; height: 30px; display: none;"></select>
                  <textarea id="fieldvalue_value_notes" name="value_notes"
                    class="text"
                    style="width: 100%; height: auto; min-height: 90px; display: none;"></textarea>
                  {{=response.fieldvalue_customer_selector}}
                  {{=response.fieldvalue_tool_selector}}
                  {{=response.fieldvalue_product_selector}}
                  {{=response.fieldvalue_transitem_selector}}
                  {{=response.fieldvalue_transpayment_selector}}
                  {{=response.fieldvalue_transmovement_selector}}
                  {{=response.fieldvalue_project_selector}}
                  {{=response.fieldvalue_employee_selector}}
                  {{=response.fieldvalue_place_selector}}
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding: 5px 20px 5px 10px;">
                <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding: 0px 20px 10px 10px;">
                {{=response.fieldvalue_form.custom.widget.notes}}</td>
            </tr>
          </table>
        </div>
        {{=response.fieldvalue_id}} {{=response.fieldvalue_ref_id}}
        {{=response.fieldvalue_fieldname}}
        {{=response.fieldvalue_fieldtype}} {{=response.fieldvalue_readonly}}
        {{=response.fieldvalue_form.custom.end}}
    </div>		

  </div>
</div>
	
	<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();jQuery('#web2py_keywords').val('');
-->
</script>