{{extend 'nwc/layout.html'}}

<style>
input[type="submit"] {
  padding-top: 2px !important;
}
</style>

<script>
$(function() {
  $("#tabs").tabs();
});

var ms_err_missing_wh = "{{=T('Missing Warehause!')}}";
var ms_err_missing_date = "{{=T('Missing Shipping Date!')}}";
</script>
    
<div id="frm_head">
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="vertical-align: middle;">
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
              <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                {{=response.transnumber}}</span>
            </td>
            <td style="width:45px;padding-right: 0px;">
              {{=response.cmd_help}}</td>
            <td style="width: 45px;padding-right: 20px;">
              {{=response.cmd_back}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
<div id="nwc_input">
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 7px 5px 5px 10px;width: 200px;">
          <div class="label" style="text-align: center;">
          {{=response.transnumber}}</div></td>
      <td style="padding: 7px 5px 5px 10px;width: 150px;">
          <div class="label">{{=T('Direction: ')}}
            <span style="color: green;">{{=response.direction}}</span>
          </div>
      </td>
      <td style="padding: 7px 5px 5px 10px;width: 100px;">
          <div class="label">{{=T('Customer')}}</div>
      </td>
      <td style="padding: 5px 20px 5px 10px;">
        {{=response.customer}}
      </td>  
    </tr>
  </table>
</div></div>

<div id="tabs" style="background-color: #FFFFFF;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;width: 100%;"><ul>
        <li>
          <a class="tab_label" href="#tabs-1">
            {{=response.icon_order}}
            {{=T('Document Items')}}&nbsp;{{=response.cmd_oitems_add}}
            </a>
        </li>     
		    <li>
		      <a class="tab_label" href="#tabs-2">
		        {{=response.icon_corrected}}
			      {{=T('Create Delivery')}}&nbsp;{{=response.cmd_oitems_remove}}
			    </a>
	      </li>
	      <li>
          <a class="tab_label" href="#tabs-3">
            {{=response.icon_lorry_go}}
            {{=T('Delivery Items')}}{{=response.cmd_trans_count}}
          </a>
        </li>
	    </ul></td>
      </tr>
    </table>
	
	<div id="tabs-1">
	  {{=response.filter.custom.begin}}
	  <table width="100%" cellpadding="0" cellspacing="0" 
      style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
        <tr>
          <td style="padding: 7px 5px 5px 10px;width: 90px;">
            <div class="label">{{=response.filter.custom.label.product}}</div>
          </td>
          <td style="padding: 7px 5px 5px 10px;">
            {{=response.filter.custom.widget.product}}
          </td>
          <td style="padding: 7px 5px 5px 10px;width: 130px;">
            <div class="label">{{=response.filter.custom.label.nocomp}}</div>
          </td>
          <td style="padding: 0px 0px 5px 5px;width: 20px" >
            {{=response.filter.custom.widget.nocomp}}
          </td>
          <td style="padding: 9px 5px 5px 5px;width: 100px;">
            {{=response.filter.custom.submit}}
          </td>
        </tr>
    </table>
    {{=response.filter.custom.end}}
	  {{=response.view_oitems}}
  </div>
	<div id="tabs-2">
	  <table width="100%" cellpadding="0" cellspacing="0" 
      style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
        <tr>
          <td style="padding: 7px 5px 5px 10px;width: 120px;">
            <div class="label">{{=T('Shipping Date')}}</div>
          </td>
          <td style="padding: 7px 5px 5px 10px;width: 90px;">{{=response.shippingdate}}</td>
          <td style="padding: 7px 5px 5px 10px;width: 120px;">
            <div class="label">{{=T('Warehouse')}}</div>
          </td>
          <td style="padding: 7px 5px 5px 10px;">
            {{=response.place_control}}{{=response.place_id}}{{=response.trans_id}}{{=response.item_id}}{{=response.product_id}}
          </td>
          <td style="padding: 9px 10px 5px 10px;width: 100px;">
            {{=response.cmd_create}}
          </td>
        </tr>
    </table>
    <div id="edit_item" 
      style="display: none;border-style: solid;border-width: 7px;border-color: #444444;padding: 8px;padding-bottom: 3px;" >
      <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 0px;width: 16px;">
            {{=response.cmd_cancel}}
          </td>
          <td style="padding: 0px 5px 0px 0px;width: 200px;">
            <div id="partnumber" class="label" style="text-align: center;"></div>
          </td>
          
          <td style="padding: 0px 5px 0px 10px;width: 90px;">
            <div class="label">{{=T('Batch No.')}}</div>
          </td>
          <td style="padding: 0px 5px 0px 10px;">
            <input id="batch" class="string" type="text" value="" name="batch">
          </td>
          <td style="padding: 0px 5px 0px 10px;width: 70px;">
            <div class="label">{{=T('Qty')}}</div>
          </td>
          <td style="padding: 0px 5px 0px 10px;width: 90px;">
            <input id="qty" class="double" type="text" value="" name="qty">
          </td>
          <td style="padding: 2px 0px 0px 10px;width: 100px;">
            {{=response.cmd_update}}</td>
        </tr>
      </table>        
    </div>
    <div id="items_table">{{=response.items_table}}</div>
	</div>
	<div id="tabs-3">
    {{=response.view_trans}}
  </div>
</div>

<div id="frm_stocks" title="{{=T('STOCKS')}}" style="display: none;">
  <div id="stock_info"></div>
</div>

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>