{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'nwc/layout.html'}}
{{footer_enabled=False}}

<style>
body  {
background: #808080;
margin: 0;
}
.main {
  padding: 10px 0 10px 0;
}
#frm_head {
  background-color: #F2F2F2;
  border-style: solid;
  border-width: 5px;
{{if form.formname!='tool/create':}}
  border-bottom: none;
{{pass}}
}
#tabs {
  background-color: #F2F2F2;
  border-style: solid;
  border-width: 5px;
  border-top: none;
  border-color: #444444;
}
td {
  vertical-align: middle;
}
.label {
  font-weight: bold;
  padding: 5px;
  background-color: #DBDBDB;
  width: 100% !important;
}
.detail_count {
  background-color: #DBDBDB;
  color: #555555;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.td_label {
  vertical-align: middle;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 125px;
}
.label_disabled {
  padding: 5px;
  background-color: #FFFFFF;
  width: 97%;
  height: 18px;
  border: 1px solid #CCC;
}
.label_error {
  padding: 5px;
  background-color: #FF0000;
  color: #FFFFFF;
  width: 100%;
  height: 18px;
  border: 1px solid #CCC;
}
.td_label_nf {
  vertical-align: middle;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;  
}
.tab_label {
  font-weight: bold;
  font-size: small;
}
.ui-tabs-panel {
  padding: 0px !important;
}
#tabs .web2py_console {
  visibility:hidden;
  padding: 0px;
  height: 0px !important;
  min-height: 0px !important;
}
#tabs .web2py_search_actions {
  visibility:hidden;
  height: 0px !important;
  min-height: 0px !important;
}
#tabs .web2py_counter {
  visibility:hidden;
  height: 0px !important;
  min-height: 0px !important;
}
#tabs .web2py_table {
  font-size: small;
}
#tabs .web2py_grid {
  background-color: #FFFFFF;
}
#tabs .web2py_grid tbody td {
  height:34px;
  border-bottom: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
#menu input[type="submit"] {
  height: 25px !important;
  padding-top: 2px !important;
  color: #008B00;
  width: 100%;
}
#tool_serial {
  width: 95%;
}
#tool_description {
  width: 97%;
}
#tool_toolgroup {
  width: 100%;
  height: 29px;
}
#tool_notes {
  width: 100%;
  height: 150px;
}
#cmb_fields {
  width: 500px;
  height: 25px;
}
#cmd_delete {
  width: 100%;
}
#frm_head_field {
  background-color: #F2F2F2;
  border-style: solid;
  border-width: 5px;
}
#cmb_fields {
  width: 100%;
  height: 25px;
}
#cmd_field_submit {
  height: 25px !important;
  padding-top: 2px !important;
  color: #008B00;
  width: 100%;
}
#fieldvalue_value {
  width: 100%;
}
#fieldvalue_notes {
  width: 100%;
  height: 80px;
}
</style>

<script>
$(function() {
  $("#tabs").tabs({
    create: function(event, ui) {
    	if (String(window.location).indexOf("ev_page", 0)>-1) {
    		$("#tabs").tabs( "select" , 1);
    	} else {
    		if (String(window.location).indexOf("tr_page", 0)>-1) {
    			$("#tabs").tabs( "select" , 2);
    		} else {
    			$("#tabs").tabs( "select" , 0);
    		}
    	}
    }
  });  
});

var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
var ms_err_field_update = "{{=T('Read-only data!')}}";
</script>
    
{{=form.custom.begin}}
<div id="frm_head">
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
              <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">&nbsp;
                {{=response.serial}}</span>
            </td>
            <td>
              {{=form.custom.submit}}
            </td>
            <td>
              {{=response.cmd_report}}
            </td>
            <td>
              {{=response.cmd_delete}}
            </td>
            <td style="text-align: right;padding-right: 20px;">
              {{=response.cmd_help}}
	          {{=response.cmd_back}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
<div id="nwc_input">    	  
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding-top: 15px;" class="td_label"><div class="label">{{=form.custom.label.serial}}</div></td>
      <td style="padding-top: 12px;">{{=form.custom.widget.serial}}</td>
      <td style="padding-top: 15px;padding-left: 0px;" class="td_label"><div class="label">{{=form.custom.label.description}}</div></td>
      <td style="padding-top: 12px;">{{=form.custom.widget.description}}</td>
    </tr>
    <tr>
      <td class="td_label"><div class="label">{{=form.custom.label.toolgroup}}</div></td>
      <td style="width: 205px;padding-right: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-top: 0px;padding-left: 0px;">{{=form.custom.widget.toolgroup}}</td>
              {{if response.cmd_groups:}}
              <td width="20px;" style="padding-right: 0px;padding-left: 0px;">{{=response.cmd_groups}}</td>
              {{pass}}
            </tr>
          </table>
      </td>
      <td style="padding-left: 0px;" class="td_label"><div class="label">{{=form.custom.label.product_id}}</div></td>
      <td style="">
        {{=response.product_control}}{{=response.product_id}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding-left:0px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding-right: 15px;" class="td_label_nf">
              <div class="label">{{=form.custom.label.notes}}</div>
            </td>
            <td style="padding-left: 0px;width: 100px;" class="td_label_nf"><div class="label">{{=form.custom.label.inactive}}</div></td>
            <td style="vertical-align: middle;padding-top: 0px;width: 20px;padding-right: 0px;" >{{=form.custom.widget.inactive}}</td>
          </tr>
        </table>
      </td>  
    </tr>
    <tr>
      <td colspan="4" style="vertical-align: top; padding-right: 20px; padding-top: 0px; padding-left: 10px;padding-bottom: 10px;">
        {{=form.custom.widget.notes}}
      </td>
    </tr>
  </table>
</div></div>
{{=form.custom.end}}

{{if form.formname!='tool/create':}}
  <div id="tabs" style="background-color: #FFFFFF;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;width: 100%;"><ul>     
			<li><a class="tab_label" href="#tabs-1">
			  {{=response.icon_deffield}}
			  {{=T('Additional Data')}}
			  {{=response.cmd_fieldvalue_new}}</a>
			  </li>
			{{if not response.event_disabled:}}
			<li><a class="tab_label" href="#tabs-2">
			  {{=response.icon_calendar}}
			  {{=T('Tool Events')}}
			  {{=response.cmd_event_new}}</a>
	        </li>
	        {{pass}}
	        {{if not response.waybill_disabled:}}
			<li><a class="tab_label" href="#tabs-3">
			  {{=response.icon_wrench_page}}
			  {{=T('Tool Movement')}}
			  {{=response.cmd_waybill_new}}</a></li>
			 {{pass}}
	    </ul></td>
      </tr>
    </table>
	
	<div id="tabs-1" style="overflow: auto;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
            <tr>
              {{if response.cmd_fields:}}
              <td style="width: 16px;padding-right: 0px;padding-top: 7px;">
                  {{=response.cmd_fields}}</td>
              {{pass}}
              <td style="width: 150px;padding-left: 3px;padding-right: 5px;" class="td_label">
                {{if response.cmb_fields:}}
                <div class="label" style="width: 150px;padding-right: 0px;font-size: small;" class="label">
                  {{=T('Additional Data')}}</div>
                {{else:}}
                <div style="height: 30px;"></div>
                {{pass}}
              </td>
              <td>
                  {{=response.cmb_fields}}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding: 0px;">
          <div id="edit_fieldvalue"
            style="display: none;border-style: solid;border-width: 7px;border-color: #CCCCCC;padding: 8px;padding-bottom: 3px;border-top-width: 2px;" >
            {{=response.fieldvalue_form.custom.begin}}
            <div id="frm_head_field">
              <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 10px;">
                    <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.fieldvalue_icon}}" />
                    <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('FIELD')}}</span>
                    <span id="title_item" 
                      style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                      {{=response.serial}}</span>
                  </td>
                  <td style="text-align: right;padding-right: 5px;padding-bottom: 0px;padding-top: 4px;">
                    {{=response.cmd_fieldvalue_submit}}
                  </td>
                  <td style="text-align: right;padding-right: 5px;padding-bottom: 0px;padding-top: 4px;">
                    {{=response.cmd_help}}{{=response.cmd_fieldvalue_cancel}}
                  </td>
                </tr>
              </table>
              <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
                width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="width: 200px;vertical-align: top;padding-top: 11px;padding-right: 10px;" class="td_label">
                    <div id="fieldvalue_description" class="label" style="width: 100%;" ></div>
                  </td>
                  <td style="padding-top: 10px;vertical-align: middle;padding-right: 20px;">
                    <div id="fieldvalue_value_controls">
                      <input id="fieldvalue_value" type="hidden" name="value" value="">
                      <input id="fieldvalue_value_bool" 
                        type="checkbox" name="value_bool" class="boolean" value="true" checked="checked" style="display: none;width: 100%;">
                      <input id="fieldvalue_value_integer" 
                        type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_float" 
                        type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_date" 
                        type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
                      <input id="fieldvalue_value_password" 
                        type="password" name="value_password" value="" style="display: none;width: 100%;" >
                      <input id="fieldvalue_value_text" 
                        type="text" name="value_text" value="" style="display: none;width: 100%;" >
                      <select id="fieldvalue_value_valuelist" 
                        name="value_valuelist" class="generic-widget" style="width: 100%;height: 30px;display: none;"></select>
                      <textarea id="fieldvalue_value_notes" 
                        name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
                      {{=response.fieldvalue_customer_selector}}
                      {{=response.fieldvalue_tool_selector}}
                      {{=response.fieldvalue_product_selector}}
                      {{=response.fieldvalue_transitem_selector}}
                      {{=response.fieldvalue_transpayment_selector}}
                      {{=response.fieldvalue_transmovement_selector}}
                      {{=response.fieldvalue_project_selector}}
                      {{=response.fieldvalue_employee_selector}}
                      {{=response.fieldvalue_place_selector}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="vertical-align: top;padding-right: 20px;" class="td_label">
                    <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div></td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 10px;padding-top: 0px;padding-right: 20px;">
                    {{=response.fieldvalue_form.custom.widget.notes}}</td>
                </tr>
              </table>
            </div>
            {{=response.fieldvalue_id}}
            {{=response.fieldvalue_ref_id}}
            {{=response.fieldvalue_fieldname}}
            {{=response.fieldvalue_fieldtype}}
            {{=response.fieldvalue_readonly}}
            {{=response.fieldvalue_form.custom.end}}
          </div>
          {{=response.view_fields}}
        </td>
      </tr>
    </table>
  </div>
	{{if not response.event_disabled:}}
	<div id="tabs-2">
	  {{=response.view_event}}
	</div>
	{{pass}}
	{{if not response.waybill_disabled:}}
	<div id="tabs-3">
	  {{=response.view_trans}}
	</div>
	{{pass}}
  </div>
{{pass}}

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>