{{extend 'nwc/layout.html'}}

<style>
#frm_head {
{{if form.formname!='trans/create':}}
  border-bottom: none;
{{pass}}
}
#menu input[type="submit"] {
  padding-top: 2px !important;
}
#fieldvalue_notes {
  height: 80px;
}
</style>

<script>
  $(function() {
    $("#tabs").tabs();
  });

  var rate_lst=new Array({{=response.item_rate_lst}});
  
  var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
  var ms_err_field_update = "{{=T('Read-only data!')}}";
  var ms_err_item_update_product = "{{=T('Missing Product!')}}"
  var ms_err_item_update_description = "{{=T('Missing description!')}}"
  var ms_err_item_update_tax = "{{=T('Missing tax rate!')}}"
  var ms_err_link_invoice_rfid_1 = "{{=T('Missing Payment!')}}"
</script>

{{=form.custom.begin}}
<div id="frm_head">
  <div class="topbar">
    <div class="container">    
      <div class="sixteen columns">
        {{is_mobile=request.user_agent().is_mobile}}
        <div id="menu">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="vertical-align: middle;">
                <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
                <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
                <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                  {{=response.transnumber}}</span>
              </td>
              <td style="width:120px;padding-right: 5px;">
                {{=form.custom.submit}}
              </td>
              <td style="width:120px;padding-right: 5px;">
                {{=response.cmd_report}}
              </td>
              <td style="width:100px;padding-right: 40px;">
                {{=response.cmd_more}}
              </td>
              <td style="width:45px;padding-right: 0px;">
                {{=response.cmd_help}}</td>
              <td style="width: 45px;padding-right: 20px;">
                {{=response.cmd_back}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div><!-- topbar -->
  <div id="dv_more" style="display: none;border-style: solid;border-width: 7px;border-color: #CCCCCC;padding: 8px;padding-bottom: 3px;" align="center" >
    <table style="margin: 0px;padding: 0px;" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding-right: 5px;">{{=response.cmd_fnote}}</td>
        {{if (response.direction=='in' and response.closed==0 and response.transtype_name=='invoice') or (response.transtype_name!='invoice'):}}
          <td style="padding-right: 5px;">{{=response.cmd_close}}</td>
        {{pass}}
        {{if response.deleted==0:}}
          <td style="padding-right: 5px;">{{=response.cmd_delete}}</td>
        {{pass}}
        <td style="padding-right: 5px;">{{=response.cmd_copy}}</td>
        <td style="padding-right: 5px;">{{=response.cmd_create}}</td>
        {{if response.direction=='out' and response.deleted==1 and response.transcast=="normal" and response.transtype_name=='invoice':}}
          <td style="padding-right: 5px;">{{=response.cmd_cancellation}}</td>
        {{pass}}
        {{if response.direction=='out' and response.deleted==0 and response.transcast=="normal" and response.transtype_name=='invoice':}}
          <td style="padding-right: 5px;">{{=response.cmd_corrective}}</td>
        {{pass}}
      </tr>
    </table>        
  </div>
  <div id="nwc_input">
    <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
      width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding: 0px 0px 0px 10px;width: 40px;">
                      {{=response.state_ico}}
                    </td>
                    <td style="padding: 3px 5px 5px 0px;width: 120px;">
                      <div class="label">{{=form.custom.label.transnumber}}{{=response.transnumber_post}}</div>
                    </td>
                    <td style="padding: 2px 5px 5px 10px;">
                      {{=form.custom.widget.transnumber}}
                    </td>
                    <td style="padding: 3px 5px 5px 10px;width: 100px;">
                      <div class="label">{{=form.custom.label.ref_transnumber}}</div>
                    </td>
                    <td style="padding: 3px 5px 5px 10px;">
                      {{=response.trans_transnumber}}{{=response.ref_transnumber}}{{=response.trans_id}}{{=response.direction_id}}{{=response.cruser_id}}
                      {{=response.transtype}}
                    </td>
                    <td style="padding: 0px 5px 5px 5px;width: 20px;">
                      {{=response.transref_change}}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" style="padding: 0px;">
                      <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px;">
                        <tr>
                          <td style="padding: 5px 5px 0px 10px;">
                            <div class="label">{{=form.custom.label.crdate}}</div>
                          </td>
                          <td style="padding: 5px 10px 0px 10px;width: 90px;">
                            {{=form.custom.widget.crdate}}{{=response.crdate}}
                          </td>
                          <td style="padding: 5px 5px 0px 10px;">
                            <div class="label">{{=form.custom.label.transdate}}</div>
                          </td>
                          <td style="padding: 5px 10px 0px 10px;width: 90px;">
                            {{=form.custom.widget.transdate}}
                          </td>
                          <td style="padding: 5px 5px 0px 10px;">
                            <div class="label">{{=form.custom.label.duedate}}</div>
                          </td>
                          <td style="padding: 5px 20px 0px 10px;width: 90px;">
                            {{=form.custom.widget.duedate}}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td style="padding: 7px 5px 3px 0px;width: 45px;">
                <table width="100%;" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      {{=response.cmd_next}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 5px;">
                      {{=response.cmd_prev}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      <tr>
        <td style="padding-left:10px; padding-right: 10px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid;border-width: 4px;border-color: {{=response.tcolor}};">
            <tr>
              {{if response.transtype_name!="receipt":}}
              <td style="padding: 5px 10px 5px 5px;width: 110px;">
                <div class="label">{{=form.custom.label.customer_id}}</div>
              </td>
              <td style="padding: 5px 15px 5px 5px;">
                {{=response.customer_control}}{{=response.customer_id}}
              </td>
<!--             <td style="padding-left: 0px;width: 100px;" class="td_label_nf"><div class="label">{{=form.custom.label.notax}}</div></td> -->
<!--             <td style="vertical-align: middle;padding-top: 0px;width: 20px;padding-right: 0px;" >{{=form.custom.widget.notax}}</td> -->
              {{else:}}
              <td style="height: 0px;background-color: #FFFFFF;"></td>
              {{pass}}
            </tr>
          </table>
        </td>  
      </tr>
      {{if response.transtype_name=='worksheet':}}
      <tr>
        <td style="padding-left:10px; padding-right: 10px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom-style: solid;border-bottom-width: 4px;border-bottom-color: #8470FF;">
            <tr>
              <td style="padding: 10px 10px 10px 0px;width: 110px;">
                <div class="label">{{=response.trans_wsdistance_label}}</div>
              </td>
              <td style="padding: 10px 10px 10px 5px;width: 60px;">
                {{=response.trans_wsdistance_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_wsrepair_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 40px;">
                {{=response.trans_wsrepair_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_wstotal_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 40px;">
                {{=response.trans_wstotal_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_wsnote_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;">
                {{=response.trans_wsnote_data}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      {{pass}}
      {{if response.transtype_name=='rent':}}
      <tr>
        <td style="padding-left:10px; padding-right: 11px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom-style: solid;border-bottom-width: 4px;border-bottom-color: #A52A2A;">
            <tr>
              <td style="padding: 5px 10px 5px 0px;width: 110px;">
                <div class="label">{{=response.trans_reholiday_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 60px;">
                {{=response.trans_reholiday_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_rebadtool_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 40px;">
                {{=response.trans_rebadtool_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_reother_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 40px;">
                {{=response.trans_reother_data}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 110px;">
                <div class="label">{{=response.trans_rentnote_label}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;">
                {{=response.trans_rentnote_data}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      {{pass}}
      <tr>
        <td style="padding-left:0px; padding-right: 10px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 10px 10px 5px 10px;width: 70px;">
                <div class="label">{{=form.custom.label.curr}}</div>
              </td>
              <td style="width: 100px;padding: 0px 0px 0px 0px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding: 10px 0px 5px 5px;">
                      {{=form.custom.widget.curr}}
                    </td>
                    {{if response.cmd_curr:}}
                    <td style="padding: 10px 5px 5px 0px;width: 20px;">
                      {{=response.cmd_curr}}
                    </td>
                    {{pass}}
                  </tr>
                </table>
              </td>
              <td style="padding: 10px 10px 5px 0px;width: 110px;">
                <div class="label">{{=form.custom.label.acrate}}</div>
              </td>
              <td style="padding: 10px 10px 5px 5px;width: 40px;">
                {{=form.custom.widget.acrate}}
              </td>
              <td style="padding: 10px 10px 5px 10px;width: 110px;">
                <div class="label">{{=form.custom.label.paidtype}}</div>
              </td>
              <td sstyle="padding: 0px 0px 0px 0px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding: 10px 0px 5px 5px;">
                      {{=form.custom.widget.paidtype}}
                    </td>
                    {{if response.cmd_curr:}}
                    <td style="padding: 10px 5px 5px 0px;width: 20px;">
                      {{=response.cmd_paidtype}}
                    </td>
                    {{pass}}
                  </tr>
                </table>
              </td>
              <td style="padding: 10px 5px 5px 0px;width: 110px;">
                <div class="label">{{=form.custom.label.paid}}</div>
              </td>
              <td style="padding: 10px 0px 5px 5px;width: 20px;" >
                {{=form.custom.widget.paid}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 5px 10px 5px 10px;width: 90px;">
                <div class="label">{{=form.custom.label.department}}</div>
              </td>
              <td style="width: 130px;padding: 0px 0px 0px 0px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding: 5px 0px 5px 5px;">
                      {{=form.custom.widget.department}}
                    </td>
                    {{if response.cmd_department:}}
                    <td style="padding: 5px 0px 5px 0px;width: 20px;">
                      {{=response.cmd_department}}
                    </td>
                    {{pass}}
                  </tr>
                </table>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 90px;">
                <div class="label">{{=form.custom.label.employee_id}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;">
                {{=response.employee_control}}
                {{=response.employee_id}}
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 90px;">
                <div class="label">{{=form.custom.label.project_id}}</div>
              </td>
              <td style="padding: 5px 20px 5px 5px;">
                {{=response.project_control}}
                {{=response.project_id}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 5px 10px 5px 10px;width: 50%;">
                <div class="label">{{=form.custom.label.notes}}</div>
              </td>
              <td style="padding: 5px 10px 5px 10px;">
                <div class="label">{{=form.custom.label.intnotes}}</div>
              </td>
              <td style="padding: 5px 10px 5px 10px;width: 90px;">
                <div class="label">{{=form.custom.label.transtate}}</div>
              </td>
              <td style="padding: 5px 10px 5px 5px;width: 60px;">
                {{=form.custom.widget.transtate}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 0px 10px 10px 10px;width: 50%;">
                {{=form.custom.widget.notes}}
              </td>
              <td style="padding: 0px 20px 10px 10px;width: 50%;">
                {{=form.custom.widget.intnotes}}
              </td>
            </tr>
          </table>
        </td>  
      </tr>
    </table>
  </div>
</div>
{{=form.custom.end}}

{{if form.formname!='trans/create':}}
<div id="tabs" style="background-color: #FFFFFF;">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 0px;width: 100%;">
        <ul>
          <li>
            <a class="tab_label" href="#tabs-1">
              {{=response.icon_corrected}}
              {{=T('Items')}}
              {{=response.cmd_item_new}}
            </a>
          </li>
          <li>
            <a class="tab_label" href="#tabs-2">
              {{=response.icon_deffield}}
              {{=T('Additional Data')}}
              {{=response.cmd_fieldvalue_new}}
            </a>
          </li>
          {{if response.transtype_name=='invoice' and not response.payment_disabled:}}
          <li>
            <a class="tab_label" href="#tabs-3">
              {{=response.icon_money}}
              {{=T('Payments')}}
              {{=response.cmd_link_payment_new}}
            </a>
          </li>
          {{pass}}
          {{if response.transtype_name in('order','worksheet','rent') and not response.invoice_disabled:}}
          <li>
            <a class="tab_label" href="#tabs-3">
              {{=response.icon_invoice}}
              {{=T('Invoices')}}
              {{=response.cmd_invoice_new}}
            </a>
          </li>
          {{pass}}
          {{if response.transtype_name in('order','worksheet','rent') and not response.inventory_disabled:}}
          <li>
            <a class="tab_label" href="#tabs-4">
              {{=response.icon_lorry}}
              {{=T('Shipping')}}
              {{=response.cmd_inventory_edit}}
            </a>
          </li>
          {{pass}}
          {{if response.transtype_name in('order','worksheet','rent','invoice') and not response.movement_disabled:}}
          <li>
            <a class="tab_label" href="#tabs-5">
            {{=response.icon_wrench_page}}
            {{=T('Tool Movement')}}
            {{=response.cmd_movement_new}}
            </a>
          </li>
          {{pass}}
        </ul>
      </td>
    </tr>
  </table>
  
  <div id="tabs-1">
    <table width="100%" cellpadding="0" cellspacing="0" 
      style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
      <tr>
        <td style="padding: 5px 10px 5px 5px;width: 100px;">
          <div class="label">{{=T('Netamount')}}</div>
        </td>
        <td style="padding: 5px 10px 5px 5px;">
          {{=response.netamount}}
        </td>
        <td style="padding: 5px 10px 5px 10px;width: 80px;">
          <div class="label">{{=T('VAT')}}</div>
        </td>
        <td style="padding: 5px 10px 5px 5px;">
          {{=response.vatamount}}
        </td>
        <td style="padding: 5px 10px 5px 10px;width: 100px;">
          <div class="label">{{=T('Amount')}}</div>
        </td>
        <td style="padding: 5px 20px 5px 5px;">
          {{=response.amount}}
        </td>
      </tr>
    </table>
    <div id="edit_item" class="frm_tab_edit_1" >
      {{=response.item_form.custom.begin}}
      <div class="frm_tab_edit_2">
      <table width="100%" style="background-color: #2B2B2B;" 
          cellpadding="0" cellspacing="0">
         <tr>
           <td style="padding-left: 5px;vertical-align: middle;">
             <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.item_icon}}" />
             <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('ITEM')}}</span>
             <span id="title_item" 
               style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
               {{=response.transnumber}}</span>
           </td>
           <td style="width: 120px;padding: 4px 20px 0px 0px;">
             {{=response.cmd_item_update}}
           </td>
           <td style="width:45px;padding: 4px 0px 0px 0px;">
             {{=response.cmd_help}}</td>
           <td style="width: 45px;padding: 4px 0px 0px 0px;">
             {{=response.cmd_item_cancel}}
           </td>
         </tr>
       </table>
      <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 10px 10px 5px 10px;width: 100px;">
            <div class="label" style="text-align: center;">
              <span id="label_item_id">000000</span>{{=response.item_id}}{{=response.item_trans_id}}</div>
          </td>
          <td style="padding: 10px 10px 5px 10px;width: 100px;">
            <div class="label">{{=response.item_form.custom.label.product_id}}</div>
          </td>
          <td style="padding: 10px 20px 5px 5px;">
            {{=response.item_product_control}}{{=response.item_product_id}}{{=response.item_rate}}{{=response.item_vatamount}}{{=response.item_digit}}
          </td>
        </tr>
        <tr>
          <td colspan="3" style="padding-left: 0px;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td style="padding: 5px 10px 5px 10px;">
                  <div class="label">{{=response.item_form.custom.label.description}}</div>
                </td>
                {{if response.item_deposit==None:}}
                <td style="padding: 5px 5px 5px 10px;width: 100px;">
                  <div class="label">{{=response.item_form.custom.label.deposit}}</div>
                </td>
                <td style="padding: 1px 5px 5px 5px;width: 20px;" >
                  {{=response.item_form.custom.widget.deposit}}
                </td>
                {{pass}}
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="padding: 2px 20px 5px 10px;">
            {{=response.item_form.custom.widget.description}}</td>
        </tr>
        <tr>
          <td colspan="3" style="padding: 0px;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td style="padding: 5px 10px 5px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.qty}}</div>
                </td>
                <td style="padding: 5px 10px 5px 5px;">
                  {{=response.item_form.custom.widget.qty}}
                </td>
                <td style="padding: 5px 10px 5px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.discount}}</div>
                </td>
                <td style="padding: 5px 10px 5px 5px;width: 60px;">
                  {{=response.item_form.custom.widget.discount}}
                </td>
                <td style="padding: 5px 10px 5px 10px;width: 90px;">
                  <div class="label" >{{=response.item_form.custom.label.fxprice}}</div>
                </td>
                <td style="padding: 5px 10px 5px 5px;">
                  {{=response.item_form.custom.widget.fxprice}}
                </td>
                <td style="padding: 5px 10px 5px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.unit}}</div>
                </td>
                <td style="padding: 5px 20px 5px 5px;">
                  {{=response.item_form.custom.widget.unit}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="padding: 0px;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td style="padding: 5px 10px 10px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.netamount}}</div>
                </td>
                <td style="padding: 5px 10px 10px 5px;">
                  {{=response.item_form.custom.widget.netamount}}
                </td>
                <td style="padding: 5px 10px 10px 10px;width: 90px;">
                  <div class="label" >{{=response.item_form.custom.label.tax_id}}</div>
                </td>
                <td style="padding: 5px 10px 10px 5px;width: 60px;">
                  {{=response.item_form.custom.widget.tax_id}}
                </td>
                <td style="padding: 5px 10px 10px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.amount}}</div>
                </td>
                <td style="padding: 5px 10px 10px 5px;">
                  {{=response.item_form.custom.widget.amount}}
                </td>
                <td style="padding: 5px 10px 10px 10px;width: 90px;">
                  <div class="label">{{=response.item_form.custom.label.ownstock}}</div>
                </td>
                <td style="padding: 5px 20px 10px 5px;width: 70px;">
                  {{=response.item_form.custom.widget.ownstock}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>
      {{=response.item_form.custom.end}}
    </div>
    {{=response.view_item}}
  </div>      
  <div id="tabs-2" style="overflow: auto;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" 
            style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
            <tr>
              {{if response.cmd_fields:}}
              <td style="padding: 7px 0px 5px 5px;width: 16px;">
                  {{=response.cmd_fields}}</td>
              {{pass}}
              <td style="padding: 5px 5px 5px 0px;width: 150px;">
                {{if response.cmb_fields:}}
                <div class="label" style="font-size: small;">
                  {{=T('Additional Data')}}</div>
                {{else:}}
                <div style="height: 30px;"></div>
                {{pass}}
              </td>
              <td style="padding: 5px 5px 5px 10px;">
                  {{=response.cmb_fields}}</td>
            </tr>
          </table>
        </td>
        <td style="padding: 5px 10px 0px 5px;width: 25%;">
          <div class="label">
            {{=response.cmd_groups_add}}
            {{=response.cmd_groups}}
            {{=T('Transaction Groups')}}
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding: 0px;">
          <div id="edit_fieldvalue" class="frm_tab_edit_1">
            {{=response.fieldvalue_form.custom.begin}}
            <div class="frm_tab_edit_2">
              <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 5px;vertical-align: middle;">
                    <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.fieldvalue_icon}}" />
                    <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('FIELD')}}</span>
                    <span id="title_item" 
                      style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                      {{=response.transnumber}}</span>
                  </td>
                  <td style="width: 120px;padding: 4px 20px 0px 0px;">
                    {{=response.cmd_fieldvalue_update}}
                  </td>
                  <td style="width:45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_help}}</td>
                  <td style="width: 45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_fieldvalue_cancel}}
                  </td>
                </tr>
              </table>
              <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
                width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 13px 15px 5px 10px;width: 200px;">
                    <div id="fieldvalue_description" class="label" ></div>
                  </td>
                  <td style="padding-top: 10px;padding-right: 20px;">
                    <div id="fieldvalue_value_controls">
                      <input id="fieldvalue_value" type="hidden" name="value" value="">
                      <input id="fieldvalue_value_bool" 
                        type="checkbox" name="value_bool" class="boolean" value="true" checked="checked" style="display: none;width: 100%;">
                      <input id="fieldvalue_value_integer" 
                        type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_float" 
                        type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_date" 
                        type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
                      <input id="fieldvalue_value_password" 
                        type="password" name="value_password" value="" style="display: none;width: 100%;" >
                      <input id="fieldvalue_value_text" 
                        type="text" name="value_text" value="" style="display: none;width: 100%;" >
                      <select id="fieldvalue_value_valuelist" 
                        name="value_valuelist" class="generic-widget" style="width: 100%;height: 30px;display: none;"></select>
                      <textarea id="fieldvalue_value_notes" 
                        name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
                      {{=response.fieldvalue_customer_selector}}
                      {{=response.fieldvalue_tool_selector}}
                      {{=response.fieldvalue_product_selector}}
                      {{=response.fieldvalue_transitem_selector}}
                      {{=response.fieldvalue_transpayment_selector}}
                      {{=response.fieldvalue_transmovement_selector}}
                      {{=response.fieldvalue_project_selector}}
                      {{=response.fieldvalue_employee_selector}}
                      {{=response.fieldvalue_place_selector}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 5px 20px 5px 10px;">
                    <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 0px 20px 10px 10px;">
                    {{=response.fieldvalue_form.custom.widget.notes}}</td>
                </tr>
              </table>
            </div>
            {{=response.fieldvalue_id}}
            {{=response.fieldvalue_ref_id}}
            {{=response.fieldvalue_fieldname}}
            {{=response.fieldvalue_fieldtype}}
            {{=response.fieldvalue_readonly}}
            {{=response.fieldvalue_form.custom.end}}
          </div>
          {{=response.view_fields}}
        </td>
        <td style="vertical-align: top;padding-top: 0px; padding-right: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px;height: 100%;" >
            <tr>
              <td style="vertical-align:top; padding: 5px 0px 0px 5px;">{{=response.cmb_groups}}</td>
            </tr>
            <tr>
              <td style="vertical-align: top; padding: 5px;padding-right: 0px;">
                {{=response.view_trans_groups}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  {{if response.transtype_name=='invoice' and not response.payment_disabled:}}
  <div id="tabs-3">
      <div id="edit_link_invoice" class="frm_tab_edit_1" >
        {{=response.link_invoice_form.custom.begin}}
        <div class="frm_tab_edit_2">
          <table width="100%" style="background-color: #2B2B2B;" 
            cellpadding="0" cellspacing="0">
             <tr>
               <td style="padding-left: 5px;vertical-align: middle;">
                 <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.link_invoice_icon}}" />
                 <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('LINK')}}</span>
                 <span id="title_item" 
                   style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                   {{=response.transnumber}}</span>
               </td>
               <td style="width: 120px;padding: 4px 20px 0px 0px;">
                 {{=response.cmd_link_payment_update}}
               </td>
               <td style="width:45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_help}}</td>
               <td style="width: 45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_link_invoice_cancel}}
               </td>
             </tr>
          </table>
          <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
            width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 10px 10px 10px 10px;width: 80px;">
                  <div class="label" style="text-align: center;">
                  <span id="label_link_id">000000</span></div>
              </td>
              <td style="padding: 10px 10px 10px 10px;width: 120px;">
                <div class="label" >{{=T('Payment No.')}}</div>
              </td>
              <td style="padding: 10px 10px 10px 5px;">
                {{=response.link_invoice_payment_selector}}
                {{=response.link_invoice_ref_id_1}}
              </td>
              <td style="padding: 10px 5px 10px 5px;width: 35px;">
                {{=response.link_invoice_curr}}
              </td>
              <td style="padding: 10px 10px 10px 5px;width: 80px;">
                <div class="label">{{=T('Amount')}}</div>
              </td>
              <td style="padding: 10px 10px 10px 5px;width: 90px;">
                {{=response.link_invoice_amount}}
              </td>
              <td style="padding: 10px 10px 10px 10px;width: 80px;">
                <div class="label">{{=T('Rate')}}</div>
              </td>
              <td style="padding: 10px 20px 10px 5px;width: 50px;">
                {{=response.link_invoice_rate}}
              </td>
            </tr>
          </table>
        </div>
        {{=response.link_invoice_id}}
        {{=response.link_invoice_trans_id}}
        {{=response.link_invoice_ref_id_2}}
        {{=response.link_invoice_nervatype_1}}
        {{=response.link_invoice_nervatype_2}}
        {{=response.link_invoice_linktype}}
        {{=response.link_invoice_form.custom.end}}
      </div>
    {{=response.view_payment}}
  </div>
  {{pass}}
  {{if response.transtype_name in('order','worksheet','rent') and not response.invoice_disabled:}}
  <div id="tabs-3">
    {{=response.view_invoice}}
  </div>
  {{pass}}
  {{if response.transtype_name in('order','worksheet','rent') and not response.inventory_disabled:}}
  <div id="tabs-4">
    {{=response.view_inventory}}
  </div>
  {{pass}}
  {{if response.transtype_name in('order','worksheet','rent','invoice') and not response.movement_disabled:}}
  <div id="tabs-5">
    {{=response.view_too}}
  </div>
  {{pass}}
</div>
{{pass}}

<div id="frm_info" title="{{=T('Load data')}}" style="display: none;">
</div>

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>