{{extend 'nwc/layout.html'}}

<style>
#frm_head {
{{if form.formname!='trans/create':}}
  border-bottom: none;
{{pass}}
}
input[type="submit"] {
  padding-top: 2px !important;
}
#fieldvalue_notes {
  height: 80px;
}
</style>

<script>
$(function() {
  $("#tabs").tabs();
});

var ms_err_payment_paiddate = "{{=T('Missing Date!')}}";
var ms_err_link_invoice_rfid_2 = "{{=T('Missing Invoice!')}}"
var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
var ms_err_field_update = "{{=T('Read-only data!')}}";
</script>
    
{{=form.custom.begin}}
<div id="frm_head">
<div class="topbar">
  <div class="container">    
    <div class="sixteen columns">
      {{is_mobile=request.user_agent().is_mobile}}
      <div id="menu">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr style="vertical-align: middle;">
            <td>
              <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.titleicon}}" />
              <span style="vertical-align: middle;color: #FFD700;font-weight: bold;">{{=response.subtitle}}</span>
              <span style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;padding-left: 5px;">
                {{=response.transnumber}}</span>
            </td>
            <td style="width:120px;padding-right: 5px;">
              {{=form.custom.submit}}
            </td>
            <td style="width:120px;padding-right: 5px;">
              {{=response.cmd_report}}
            </td>
            <td style="width:100px;padding-right: 40px;">
              {{=response.cmd_more}}
            </td>
            <td style="width:45px;padding-right: 0px;">
              {{=response.cmd_help}}</td>
            <td style="width: 45px;padding-right: 20px;">
              {{=response.cmd_back}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div><!-- topbar -->
<div id="dv_more" style="display: none;border-style: solid;border-width: 7px;border-color: #CCCCCC;padding: 8px;padding-bottom: 3px;" align="center" >
  <table style="padding: 0px;margin: 0px;" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding-right: 5px;">{{=response.cmd_fnote}}</td>
      {{if response.closed==0:}}
        <td style="padding-right: 5px;">{{=response.cmd_close}}</td>
      {{pass}}
      {{if response.deleted==0:}}
        <td style="padding-right: 5px;">{{=response.cmd_delete}}</td>
      {{pass}}
      {{if response.deleted==1 and response.transcast=="normal" and response.transtype_name=='cash':}}
        <td style="padding-right: 5px;">{{=response.cmd_cancellation}}</td>
      {{pass}}
      <td style="padding-right: 5px;">{{=response.cmd_copy}}</td>
    </tr>
  </table>    	  
</div>
<div id="nwc_input">
  <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
    width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding-left:0px; padding-right: 5px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="40px;" style="padding: 10px 0px 0px 10px;">
                    {{=response.state_ico}}
                  </td>
                  <td style="padding: 10px 5px 5px 0px;width: 70px;">
                    <div class="label">{{=form.custom.label.transnumber}}{{=response.transnumber_post}}</div>
                  </td>
                  <td style="padding: 9px 10px 5px 10px;min-width: 90px;">
                    {{=form.custom.widget.transnumber}}
                  </td>
                  <td style="padding: 10px 10px 5px 10px;width: 70px;">
                    <div class="label">{{=form.custom.label.ref_transnumber}}</div>
                  </td>
                  <td style="padding: 10px 5px 5px 5px;min-width: 90px;">
                    {{=response.trans_transnumber}}{{=response.ref_transnumber}}{{=response.trans_id}}
                  </td>
                  <td style="padding: 10px 5px 5px 5px;width: 20px;">
                    {{=response.transref_change}}
                  </td>
                  <td style="padding: 10px 10px 5px 0px;width: 70px;">
                    <div class="label">{{=form.custom.label.transtate}}</div>
                  </td>
                  <td style="padding: 10px 10px 5px 5px;width: 60px;">
                    {{=form.custom.widget.transtate}}{{=response.transtype}}{{=response.cruser_id}}{{=response.direction_id}}
                  </td>
                </tr>
                <tr>
                  <td colspan="8" style="padding: 0px;">
                    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px;">
                      <tr>
                        <td style="padding: 5px 10px 10px 10px;width: 90px;">
                          <div class="label">{{=form.custom.label.crdate}}</div>
                        </td>
                        <td style="padding: 5px 10px 10px 5px;width: 90px;">
                          {{=form.custom.widget.crdate}}{{=response.crdate}}
                        </td>
                        {{if response.transtype_name=='cash':}}
                          <td style="padding: 5px 10px 10px 10px;width: 90px;">
                            <div class="label">{{=form.custom.label.direction}}</div>
                          </td>
                          <td style="padding: 5px 5px 10px 5px;width: 60px;">
                            {{=form.custom.widget.direction}}
                          </td>
                        {{else:}}
                          <td style="padding: 5px 10px 10px 10px;width: 90px;">
                            <div class="label">{{=form.custom.label.transdate}}</div>
                          </td>
                          <td style="padding: 5px 15px 10px 5px;width: 90px;">
                            {{=form.custom.widget.transdate}}
                          </td>
                        {{pass}}
                        <td style="padding: 5px 10px 10px 5px;width: 90px;">
                          <div class="label">{{=form.custom.label.place_id}}</div>
                        </td>
                        <td style="padding: 5px 5px 10px 5px;">
                          <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td style="padding: 0px 5px 0px 0px;">
                                {{=response.place_control}}{{=response.place_id}}{{=response.transdate}}
                              </td>
                              <td style="padding: 0px 0px 0px 5px;width: 35px;">
                                {{=response.place_curr}}</td>
                              {{if response.cmd_place:}}
                              <td style="padding: 0px 0px 0px 0px;width: 20px;">
                                {{=response.cmd_place}}
                              </td>
                              {{pass}}
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td style="padding: 7px 5px 3px 0px;width: 45px;">
              <table width="100%;" cellpadding="0" cellspacing="0">
                <tr><td>
                  {{=response.cmd_next}}
                </td></tr>
                <tr><td style="padding-top: 5px;">
                  {{=response.cmd_prev}}
                </td></tr>
              </table>
            </td>
          </tr>
        </table>
      </td>  
    </tr>
    {{if form.formname!='trans/create' and response.transtype_name=='cash':}}
    <tr>
      <td style="padding-left:10px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid;border-width: 4px;border-color: {{=response.tcolor}};">
          <tr>
            <td style="padding: 5px 10px 5px 5px;width: 90px;">
              <div class="label">{{=form.custom.label.transdate}}</div>
            </td>
            <td style="padding: 5px 10px 5px 5px;width: 80px;">
              {{=form.custom.widget.transdate}}
            </td>
            <td style="padding: 5px 10px 5px 10px;width: 70px;">
              <div class="label">{{=response.label_paidamount}}</div>
            </td>
            <td style="padding: 5px 10px 5px 5px;width: 90px;">
              {{=response.paidamount}}
            </td>
            <td style="padding: 5px 10px 5px 10px;width: 90px;">
              <div class="label">{{=form.custom.label.employee_id}}</div>
            </td>
            <td style="padding: 5px 20px 5px 5px;">
              {{=response.employee_control}}
              {{=response.employee_id}}
            </td>
          </tr>
        </table>
      </td>  
    </tr>
    {{else:}}
    <tr>
      <td style="padding-left:10px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid;border-width: 4px;border-color: {{=response.tcolor}};">
          <tr>
            <td style="height: 0px;background-color: #FFFFFF;"><div></div></td>
          </tr>
        </table>
      </td>  
    </tr>
    {{pass}}
    <tr>
      <td style="padding-left:0px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding: 10px 10px 5px 10px;width: 50%;">
              <div class="label">{{=form.custom.label.notes}}</div>
            </td>
            <td style="padding: 10px 10px 5px 10px;width: 50%;">
              <div class="label">{{=form.custom.label.intnotes}}</div>
            </td>
          </tr>
        </table>
      </td>  
    </tr>
    <tr>
      <td style="padding-left:0px; padding-right: 10px;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding: 0px 10px 10px 10px;width: 50%;">
              {{=form.custom.widget.notes}}
            </td>
            <td style="padding: 0px 10px 10px 10px;width: 50%;">
            {{=form.custom.widget.intnotes}}
            </td>
          </tr>
        </table>
      </td>  
    </tr>
  </table>
</div></div>
{{=form.custom.end}}

{{if form.formname!='trans/create':}}
<div id="tabs" style="background-color: #FFFFFF;">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 0px;width: 100%;"><ul>
        {{if response.transtype_name=='bank':}}
        <li>
          <a class="tab_label" href="#tabs-1">
            {{=response.icon_corrected}}
            {{=T('Items')}}
            {{=response.cmd_payment_new}}
          </a>
        </li> 
        {{pass}}    
        <li>
          <a class="tab_label" href="#tabs-2">
            {{=response.icon_deffield}}
            {{=T('Additional Data')}}
            {{=response.cmd_fieldvalue_new}}
          </a>
        </li>
        {{if not response.invoice_disabled:}}
        <li>
          <a class="tab_label" href="#tabs-3">
            {{=response.icon_invoice}}
            {{=T('Link invoices')}}
            {{=response.cmd_link_invoice_new}}
          </a>
        </li>
        {{pass}}
      </ul></td>
    </tr>
  </table>
  
  {{if response.transtype_name=='bank':}}
  <div id="tabs-1">
    <table width="100%" cellpadding="0" cellspacing="0" 
      style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
        <tr>
          <td style="padding: 5px 10px 5px 5px;width: 90px;">
            <div class="label">{{=T('Expense')}}</div>
          </td>
          <td style="padding: 5px 10px 5px 5px;">
            {{=response.expense}}
          </td>
          <td style="padding: 5px 10px 5px 10px;width: 90px;">
            <div class="label">{{=T('Income')}}</div>
          </td>
          <td style="padding: 5px 10px 5px 5px;">
            {{=response.income}}
          </td>
          <td style="padding: 5px 10px 5px 10px;width: 90px;">
            <div class="label">{{=T('Balance')}}</div>
          </td>
          <td style="padding: 5px 20px 5px 5px;">
            {{=response.balance}}
          </td>
        </tr>
      </table>
      <div id="edit_payment" class="frm_tab_edit_1" >
        {{=response.payment_form.custom.begin}}
        <div class="frm_tab_edit_2">
          <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
             <tr>
               <td style="padding-left: 5px;vertical-align: middle;">
                 <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.payment_icon}}" />
                 <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('ITEM')}}</span>
                 <span id="title_item" 
                   style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                   {{=response.transnumber}}</span>
               </td>
               <td style="width: 120px;padding: 4px 20px 0px 0px;">
                 {{=response.cmd_payment_update}}
               </td>
               <td style="width:45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_help}}</td>
               <td style="width: 45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_payment_cancel}}
               </td>
             </tr>
          </table>
          <table style="padding: 0px;margin: 0px;width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 10px 10px 5px 10px;width: 100px;">
                  <div class="label" style="text-align: center;">
                  <span id="label_payment_id">000000</span>{{=response.payment_id}}{{=response.payment_trans_id}}</div>
              </td>
              <td style="padding: 10px 10px 5px 10px;width: 100px;">
                <div class="label">{{=response.payment_form.custom.label.paiddate}}</div>
              </td>
              <td style="padding: 10px 10px 5px 5px;width: 80px;">
                {{=response.payment_form.custom.widget.paiddate}}
              </td>
              <td style="padding: 10px 10px 5px 10px;width: 100px;">
                <div class="label">{{=response.payment_form.custom.label.amount}}</div>
              </td>
              <td style="padding: 10px 10px 5px 5px;">
                {{=response.payment_form.custom.widget.amount}}
              </td>
              <td style="padding: 10px 20px 0px 10px;width: 150px;">
                <div class="label" style="text-align: right;">
                  {{=response.payment_form.custom.label.notes}}
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="6" style="padding: 5px 20px 10px 10px;">
                {{=response.payment_form.custom.widget.notes}}
              </td>
            </tr>
          </table>
        </div>
        {{=response.payment_form.custom.end}}
      </div>
    {{=response.view_payment}}
  </div>
  {{pass}}
  <div id="tabs-2" style="overflow: auto;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" 
            style="border-style: solid;border-top:none;border-width: 5px;border-color: #CCCCCC;">
            <tr>
              {{if response.cmd_fields:}}
              <td style="padding: 7px 0px 5px 5px;width: 16px;">
                  {{=response.cmd_fields}}</td>
              {{pass}}
              <td style="padding: 5px 5px 5px 0px;width: 150px;">
                {{if response.cmb_fields:}}
                <div class="label" style="font-size: small;">
                  {{=T('Additional Data')}}</div>
                {{else:}}
                <div style="height: 30px;"></div>
                {{pass}}
              </td>
              <td style="padding: 5px 5px 5px 10px;">
                  {{=response.cmb_fields}}</td>
            </tr>
          </table>
        </td>
        <td style="padding: 5px 10px 0px 5px;width: 25%;">
          <div class="label">
            {{=response.cmd_groups_add}}
            {{=response.cmd_groups}}
            {{=T('Transaction Groups')}}
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding: 0px;">
          <div id="edit_fieldvalue" class="frm_tab_edit_1">
            {{=response.fieldvalue_form.custom.begin}}
            <div class="frm_tab_edit_2">
              <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 5px;vertical-align: middle;">
                    <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.fieldvalue_icon}}" />
                    <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('FIELD')}}</span>
                    <span id="title_item" 
                      style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                      {{=response.transnumber}}</span>
                  </td>
                  <td style="width: 120px;padding: 4px 20px 0px 0px;">
                    {{=response.cmd_fieldvalue_update}}
                  </td>
                  <td style="width:45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_help}}</td>
                  <td style="width: 45px;padding: 4px 0px 0px 0px;">
                    {{=response.cmd_fieldvalue_cancel}}
                  </td>
                </tr>
              </table>
              <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
                width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 13px 15px 5px 10px;width: 200px;">
                    <div id="fieldvalue_description" class="label" ></div>
                  </td>
                  <td style="padding-top: 10px;padding-right: 20px;">
                    <div id="fieldvalue_value_controls">
                      <input id="fieldvalue_value" type="hidden" name="value" value="">
                      <input id="fieldvalue_value_bool" 
                        type="checkbox" name="value_bool" class="boolean" value="true" checked="checked" style="display: none;width: 100%;">
                      <input id="fieldvalue_value_integer" 
                        type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_float" 
                        type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
                      <input id="fieldvalue_value_date" 
                        type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
                      <input id="fieldvalue_value_password" 
                        type="password" name="value_password" value="" style="display: none;width: 100%;" >
                      <input id="fieldvalue_value_text" 
                        type="text" name="value_text" value="" style="display: none;width: 100%;" >
                      <select id="fieldvalue_value_valuelist" 
                        name="value_valuelist" class="generic-widget" style="width: 100%;height: 30px;display: none;"></select>
                      <textarea id="fieldvalue_value_notes" 
                        name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
                      {{=response.fieldvalue_customer_selector}}
                      {{=response.fieldvalue_tool_selector}}
                      {{=response.fieldvalue_product_selector}}
                      {{=response.fieldvalue_transitem_selector}}
                      {{=response.fieldvalue_transpayment_selector}}
                      {{=response.fieldvalue_transmovement_selector}}
                      {{=response.fieldvalue_project_selector}}
                      {{=response.fieldvalue_employee_selector}}
                      {{=response.fieldvalue_place_selector}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 5px 20px 5px 10px;">
                    <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding: 0px 20px 10px 10px;">
                    {{=response.fieldvalue_form.custom.widget.notes}}</td>
                </tr>
              </table>
            </div>
            {{=response.fieldvalue_id}}
            {{=response.fieldvalue_ref_id}}
            {{=response.fieldvalue_fieldname}}
            {{=response.fieldvalue_fieldtype}}
            {{=response.fieldvalue_readonly}}
            {{=response.fieldvalue_form.custom.end}}
          </div>
          {{=response.view_fields}}
        </td>
        <td style="vertical-align: top;padding-top: 0px; padding-right: 0px;">
          <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px;height: 100%;" >
            <tr>
              <td style="vertical-align:top; padding: 5px 0px 0px 5px;">{{=response.cmb_groups}}</td>
            </tr>
            <tr>
              <td style="vertical-align: top; padding: 5px;padding-right: 0px;">
                {{=response.view_trans_groups}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  {{if not response.invoice_disabled:}}
  <div id="tabs-3">
    <div id="edit_link_invoice" class="frm_tab_edit_1" >
        {{=response.link_invoice_form.custom.begin}}
        <div class="frm_tab_edit_2">
          <table width="100%" style="background-color: #2B2B2B;" cellpadding="0" cellspacing="0">
             <tr>
               <td style="padding-left: 5px;vertical-align: middle;" >
                 <img style="vertical-align: middle;"  height="16px" width="16px" src="{{=response.link_invoice_icon}}" />
                 <span style="vertical-align: middle;color: #FFD700;font-weight: bold;padding-right: 10px;">{{=T('LINK')}}</span>
                 <span id="title_item" 
                   style="vertical-align: middle;color: #FFFFFF;font-weight: bold;font-style: italic;font-size: large;">
                   {{=response.transnumber}}</span>
               </td>
               <td style="width: 120px;padding: 4px 20px 0px 0px;">
                 {{=response.cmd_link_invoice_update}}
               </td>
               <td style="width:45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_help}}</td>
               <td style="width: 45px;padding: 4px 0px 0px 0px;">
                 {{=response.cmd_link_invoice_cancel}}
               </td>
             </tr>
          </table>
          <table style="border-style: solid;border-width: 1px;border-color: #CCCCCC;border-top: none;" 
            width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 10px 10px 10px 10px;width: 80px;">
                  <div class="label" style="text-align: center;"><span id="label_link_id">000000</span></div>
              </td>
              <td style="padding: 10px 10px 10px 10px;width: 100px;">
                <div class="label" >{{=T('Invoice No.')}}</div>
              </td>
              <td style="padding: 10px 10px 10px 5px;">
                {{=response.link_invoice_transitem_selector}}
                {{=response.link_invoice_ref_id_2}}
              </td>
              <td style="padding: 10px 5px 10px 5px;width: 35px;">
                {{=response.link_invoice_curr}}
              </td>
              <td style="padding: 10px 10px 10px 5px;width: 80px;">
                <div class="label" >{{=T('Amount')}}</div>
              </td>
              <td style="padding: 10px 10px 10px 5px;width: 90px;">
                {{=response.link_invoice_amount}}
              </td>
              <td style="padding: 10px 10px 10px 10px;width: 80px;">
                <div class="label" >{{=T('Rate')}}</div>
              </td>
              <td style="padding: 10px 20px 10px 5px;width: 50px;">
                {{=response.link_invoice_rate}}
              </td>
            </tr>
          </table>
        </div>
        {{=response.link_invoice_id}}
        {{=response.link_invoice_trans_id}}
        {{=response.link_invoice_ref_id_1}}
        {{=response.link_invoice_nervatype_1}}
        {{=response.link_invoice_nervatype_2}}
        {{=response.link_invoice_linktype}}
        {{=response.link_invoice_form.custom.end}}
      </div>
    {{=response.view_link_invoice}}
  </div>
  {{pass}}
</div>
{{pass}}

<script language="javascript">
<!--
 jQuery("#nwc_input input:visible:enabled:first").focus();
//-->
</script>