{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<style>
.main {
  padding: 0px;
}
</style>

<p>
	This is a sample application using the library
	<a href="http://code.google.com/p/pyfpdf/">Pypdf</a> and a report
	class. This class uses an XML template that can be easily modified and
	used for relative layout (no need to specify the x and y coordinates).
	Loaded from a file, or as XML text can be stored in a database. The
	output is available in a HTML Preview, PDF or XML file.
</p>

<h4/>{{=T('How did you get here?')}}</h4>
<ol>
  <li>Look at the example report a
    <ul>
      <li>HTML Preview in <a href="{{=URL('report_test',vars=dict(output='html',orientation='portrait'))}}" target="_blank">portrait</a> or <a href="{{=URL('report_test',vars=dict(output='html',orientation='landscape'))}}" target="_blank">landscape</a></li>
      <li>PDF file in <a href="{{=URL('report_test',vars=dict(output='pdf',orientation='portrait'))}}" target="_blank">portrait</a> or <a href="{{=URL('report_test',vars=dict(output='pdf',orientation='landscape'))}}" target="_blank">landscape</a></li>
      <li><a href="{{=URL('report_test',vars=dict(output='xml'))}}" target="_blank">XML file</a></li>
    </ul>
  </li>
  <li>You can modify this report <i>data</i> in the file 
    {{=A('web2py/applications/%(application)s/controllers/%(controller)s.py'%request,_target="_blank",_href=URL('admin','default','peek',args=(request.application,'controllers',request.controller+'.py')))}}
     <br> or <a href={{=URL( 'ndr', 'show_codefile')+'?fname=report2py.py'}} target="_blank">see all the contents</a> of the file
  </li>
  <li>You can modify this report <i>template</i> in the file 
    {{=A('web2py/applications/%(application)s/static/resources/report/sample.xml'%request,_target="_blank",_href=URL('admin','default','peek',args=(request.application,'static/resources/report','sample.xml')))}}
    <br> or <a href={{=URL( 'ndr', 'getResource')+'?file_name=report/sample&content=xml&file_type=xml'}} target="_blank">see all the contents</a> of the file
  </li>
  <li>The class and XML description in the <a href={{=URL( 'ndr', 'getHelp', args=['appl','page','title','subtitle'], vars=dict(appl='report2py',page='help',title=response.title,subtitle=response.subtitle))}} target="_blank">Reference Manual</a></li>
</ul>
</ol>
