div.dialog .dialog-back{
  background-color:black;-moz-opacity:0.5;opacity:.50;opacity:0.5;
}
div.dialog .dialog-front{
  padding:15px;
  background-color: #FFFFFF;
  border:5px solid;
  border-color: #444444;
}