{{extend 'nmc/layout.html'}}

<style>
div.ui-input-text {
  max-width: 250px !important;
}

</style>

{{block header}}
  {{=response.cmd_menu}}
  <h1 style="color: #FFD700;font-size: small;margin-bottom: 0px;margin-top: 5px;">{{=response.title}}</h1>
  <h1 style="margin-bottom: 5px;margin-top: 0px;">{{=response.username}}</h1>
  {{=response.cmd_commands}}
{{end}}

{{=form.custom.begin}}        
  <p>{{=response.subtitle}}</p>
  {{if response.enabled == True:}}
    <table width="100%" cellpadding="0px;" cellspacing="5px;">
      <tr>
        <td style="width: 200px;"><div class="label">{{=form.custom.label.password_1}}</div></td>
        <td>{{=form.custom.widget.password_1}}</td>
      </tr>
      <tr>
        <td><div class="label">{{=form.custom.label.password_2}}</div></td>
        <td>{{=form.custom.widget.password_2}}</td>
      </tr>
      </table>
  {{pass}}
{{=form.custom.end}}

<div id="local-menu" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a">
  <div data-role="header">
    {{=response.cmd_back}}
    {{=response.cmd_close}}
  </div>
  <div style="margin-top:40px;padding:0px;margin-bottom: 20px;">
    <hr style="border-width:0;background-color: #333333;">
    <div data-role="controlgroup" data-mini="false" style="margin-top:20px;padding:0px;">
      {{=response.cmd_update}}
    </div>
  </div>
</div>
