{{extend 'nmc/layout.html'}}

<style>
<!--

-->
</style>

<script>
  var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
  var ms_err_field_update = "{{=T('Read-only data!')}}";
</script>

{{block header}}
  {{=response.cmd_menu}}
  {{if form.vars.id!=None:}}
    <h1 style="color: #FFD700;font-size: small;margin-bottom: 0px;margin-top: 5px;">{{=response.subtitle}}</h1>
    <h1 style="margin-bottom: 5px;margin-top: 0px;">{{=response.empnumber}}</h1>
  {{else:}}
    <h1 style="color: #FFD700;font-size: small;margin-bottom: 13px;margin-top: 13px;">{{=response.subtitle}}</h1>
  {{pass}}
  {{=response.cmd_commands}}
{{end}}

{{=response.active_page}}

<div id="employee_page" name="pages" align="center" style="max-width: 600px;display: block;" >
  {{=form.custom.begin}}
  <table width="100%" cellpadding="0px;" cellspacing="5px;">
    <tr>
      <td><div class="label">{{=form.custom.label.empnumber}}</div></td>
      <td>{{=form.custom.widget.empnumber}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.firstname}}</div></td>
      <td>{{=form.custom.widget.firstname}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.surname}}</div></td>
      <td>{{=form.custom.widget.surname}}</td>
    </tr>
    <tr>
      <td colspan="2"><hr class="block_line"></td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.phone}}</div></td>
      <td>{{=form.custom.widget.phone}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.mobil}}</div></td>
      <td>{{=form.custom.widget.mobil}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.email}}</div></td>
      <td>{{=form.custom.widget.email}}</td>
    </tr>
    <tr>
      <td colspan="2"><hr class="block_line"></td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.status}}</div></td>
      <td>{{=form.custom.widget.status}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.startdate}}</div></td>
      <td>{{=form.custom.widget.startdate}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.enddate}}</div></td>
      <td>{{=form.custom.widget.enddate}}</td>
    </tr>
    <tr>
      <td colspan="2"><hr class="block_line"></td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.zipcode}}</div></td>
      <td>{{=form.custom.widget.zipcode}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.city}}</div></td>
      <td>{{=form.custom.widget.city}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" cellpadding="0px;" cellspacing="0px;">
          <tr>
            <td><div class="label">{{=form.custom.label.street}}</div></td>
          </tr>
          <tr>
            <td>{{=form.custom.widget.street}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr class="block_line"></td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.username}}</div></td>
      <td>{{=form.custom.widget.username}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.usergroup}}</div></td>
      <td>{{=form.custom.widget.usergroup}}</td>
    </tr>
    <tr>
      <td><div class="label">{{=form.custom.label.department}}</div></td>
      <td>{{=form.custom.widget.department}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" cellpadding="0px;" cellspacing="0px;">
          <tr>
            <td style="padding-right: 5px;"><div class="label">{{=form.custom.label.notes}}</div></td>
            <td style="width: 200px;padding-left: 5px;">
              <label style="margin: 0px;">{{=form.custom.widget.inactive}}{{=form.custom.label.inactive}}</label>
            </td>
          </tr>
          <tr>
            <td colspan="3">{{=form.custom.widget.notes}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {{=form.custom.end}}
</div>

{{if form.vars.id!=None:}}
<div id="fieldvalue_page" name="pages" style="display: none;" >
  <div class="ui-bar-a" style="border-radius: 5px;text-align: center;padding: 5px;"><span>{{=T('Additional Data')}}</span></div>
  <table width="100%" cellpadding="0px;" cellspacing="5px;">
    <tr>
      <td>{{=response.cmb_fields}}</td>
     </tr>
  </table>
  {{=response.view_fields}}
</div>

<div id="edit_fieldvalue" name="pages" style="max-width: 600px;display: none;" >
  {{=response.fieldvalue_form.custom.begin}}
  <div class="ui-bar-a" style="border-radius: 5px;padding: 5px;">
    <span>{{=T('Edit Data')}}</span>
    </div>
  <table width="100%" cellpadding="0px;" cellspacing="5px;">
    <tr>
      <td>
        <div id="fieldvalue_description" class="label" ></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="fieldvalue_value_controls" style="min-height: 30px;vertical-align: middle;">
          <input id="fieldvalue_value" type="hidden" name="value" value="">
          <label id="fieldvalue_value_bool_label" style="margin: 0px;display: none;width: 100%;">
            <input id="fieldvalue_value_bool" type="checkbox" name="value_bool" class="boolean" value="true">
            <span id="fieldvalue_value_bool_text"></span>
          </label>
          <input id="fieldvalue_value_integer" 
           type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
          <input id="fieldvalue_value_float" 
           type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
          <input id="fieldvalue_value_date" 
           type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
          <input id="fieldvalue_value_password" 
           type="password" name="value_password" value="" style="display: none;width: 100%;" >
          <input id="fieldvalue_value_text" 
           type="text" name="value_text" value="" style="display: none;width: 100%;" >
          <select id="fieldvalue_value_valuelist" class="generic-widget"
           name="value_valuelist" style="width: 100%;display: none;">
             <option value=""></option>
           </select>
          <textarea id="fieldvalue_value_notes" 
           name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
          {{=response.fieldvalue_customer_selector}}
          {{=response.fieldvalue_tool_selector}}
          {{=response.fieldvalue_product_selector}}
          {{=response.fieldvalue_transitem_selector}}
          {{=response.fieldvalue_transpayment_selector}}
          {{=response.fieldvalue_transmovement_selector}}
          {{=response.fieldvalue_project_selector}}
          {{=response.fieldvalue_employee_selector}}
          {{=response.fieldvalue_place_selector}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
      </td>
    </tr>
    <tr>
      <td>
        {{=response.fieldvalue_form.custom.widget.notes}}
      </td>
    </tr>
  </table>                  
  {{=response.fieldvalue_id}}
  {{=response.fieldvalue_ref_id}}
  {{=response.fieldvalue_fieldname}}
  {{=response.fieldvalue_fieldtype}}
  {{=response.fieldvalue_readonly}}
  {{=response.fieldvalue_form.custom.end}}
</div>

<div id="event_page" name="pages" style="display: none;" >
  <div class="ui-bar-a" style="border-radius: 5px;text-align: center;padding: 5px;">
    <span>
      {{=T('Employee Events')}}
    </span>
  </div>
  {{=response.view_event}}
</div>
{{pass}}

<div id="local-menu" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a">
  <div data-role="header">
    {{=response.cmd_back}}
    {{=response.cmd_close}}
  </div>
  <div data-role="content" style="margin-top:30px;padding:0px;margin-bottom: 20px;">
    <hr style="border-width:0;background-color: #333333;">
    <div id="ctr_employee_page" data-role="controlgroup" data-mini="false" style="display: block;margin-top:20px;padding:0px;">
      {{=form.custom.submit}}
      {{if form.vars.id!=None:}}
        {{=response.cmd_delete}}
        <hr class="menu_separator">
        {{=response.cmd_report}}
        {{=response.cmd_password}}
        {{if response.cmd_department:}}
          <hr class="menu_separator">
          {{=response.cmd_department}}
          {{=response.cmd_usergroup}}
        {{pass}}
      {{pass}}
    </div>
    {{if form.vars.id!=None:}}
    <div id="ctr_fieldvalue_page" data-role="controlgroup" data-mini="false" style="display: none;margin-top:20px;padding:0px;">
      {{=response.cmd_fieldvalue_new}}
      {{=response.cmd_fields}}
    </div>
    <div id="ctr_edit_fieldvalue" style="display: none;margin-top:20px;padding:0px;">
      <div data-role="controlgroup" >
        {{=response.cmd_fieldvalue_update}}
        {{=response.cmd_fieldvalue_delete}}
      </div>
      <div data-role="controlgroup" style="margin-top:20px;">
        {{=response.cmd_fieldvalue_close}}
      </div>
    </div>
    <div id="ctr_event_page" data-role="controlgroup" data-mini="false" style="display: none;margin-top:20px;padding:0px;">
      {{=response.cmd_event_new}}
    </div>
    {{pass}}
    <div id="ctr_local_menu" data-role="controlgroup" data-mini="false" style="display: block;margin-top:20px;padding:0px;">
      {{=response.menu_employee}}
      {{=response.menu_fields}}
      {{if not response.event_disabled:}}
        {{=response.menu_event}}
      {{pass}}
    </div>
  </div>
</div>