{{extend 'nmc/layout.html'}}

<style>
<!--
-->
</style>

<script>
  var ms_err_field_new = "{{=T('Missing Additional data name!')}}";
  var ms_err_field_update = "{{=T('Read-only data!')}}";
</script>

{{block header}}
  {{=response.cmd_menu}}
  <h1 style="color: #FFD700;font-size: small;margin-bottom: 0px;margin-top: 5px;">{{=response.title}}</h1>
  <h1 style="margin-bottom: 5px;margin-top: 0px;"> {{=response.subtitle}}</h1>
  {{=response.cmd_commands}}
{{end}}

<div id="fieldvalue_page" name="pages" align="center" style="max-width: 600px;display: block;" >
  {{=form.custom.begin}}
  <table width="100%" cellpadding="0px;" cellspacing="0px;">
    <tr>
      <td style="padding-right: 5px;"><div class="label">{{=form.custom.label.groupvalue}}</div></td>
      <td>{{=form.custom.widget.groupvalue}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" cellpadding="0px;" cellspacing="0px;">
          <tr>
            <td style="padding-right: 5px;"><div class="label">{{=T('Printer type')}}</div></td>
            <td style="padding-right: 5px;">{{=response.cmb_printertype}}{{=response.printertype_id}}</td>
            <td><div class="label">{{=form.custom.label.inactive}}</div></td>
            <td class="td_checkbox">{{=form.custom.widget.inactive}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top: 5px;">
        <table width="100%" cellpadding="0px;" cellspacing="0px;">
          <tr>
            <td><div class="label">{{=form.custom.label.description}}</div></td>
          </tr>
          <tr>
            <td>{{=form.custom.widget.description}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {{=form.custom.end}}
  
  {{if response.view_fields!=None:}}
  <div id="fieldvalue_page" name="pages" >
    <div class="ui-bar-a" style="border-radius: 5px;text-align: center;padding: 5px;"><span>{{=T('Additional Data')}}</span></div>
      <table width="100%" cellpadding="0px;" cellspacing="5px;">
        <tr>
          <td>{{=response.cmb_fields}}</td>
         </tr>
      </table>
      {{=response.view_fields}}
  </div>
  {{pass}}
</div>

{{if response.view_fields!=None:}}
<div id="edit_fieldvalue" name="pages" style="max-width: 600px;display: none;" >
  {{=response.fieldvalue_form.custom.begin}}
  <div class="ui-bar-a" style="border-radius: 5px;padding: 5px;">
    <span>{{=T('Edit Data')}}</span>
    </div>
  <table width="100%" cellpadding="0px;" cellspacing="5px;">
    <tr>
      <td>
        <div id="fieldvalue_description" class="label" ></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="fieldvalue_value_controls" style="min-height: 30px;vertical-align: middle;">
          <input id="fieldvalue_value" type="hidden" name="value" value="">
          <input id="fieldvalue_value_bool" 
           type="checkbox" name="value_bool" class="boolean" value="true" checked="checked" style="display: none;width: 100%;">
          <input id="fieldvalue_value_integer" 
           type="text" name="value_integer" class="integer" value="" style="display: none;width: 100%;text-align: right;" >
          <input id="fieldvalue_value_float" 
           type="text" name="value_float" class="double" value="" style="display: none;width: 100%;text-align: right;" >
          <input id="fieldvalue_value_date" 
           type="text" name="value_date" class="date" value="" style="display: none;width: 100%;text-align: center;" >
          <input id="fieldvalue_value_password" 
           type="password" name="value_password" value="" style="display: none;width: 100%;" >
          <input id="fieldvalue_value_text" 
           type="text" name="value_text" value="" style="display: none;width: 100%;" >
          <select id="fieldvalue_value_valuelist" class="generic-widget"
           name="value_valuelist" style="width: 100%;display: none;">
             <option value=""></option>
           </select>
          <textarea id="fieldvalue_value_notes" 
           name="value_notes" class="text" style="width: 100%;height:auto;min-height:90px;display: none;"></textarea>
          {{=response.fieldvalue_customer_selector}}
          {{=response.fieldvalue_tool_selector}}
          {{=response.fieldvalue_product_selector}}
          {{=response.fieldvalue_transitem_selector}}
          {{=response.fieldvalue_transpayment_selector}}
          {{=response.fieldvalue_transmovement_selector}}
          {{=response.fieldvalue_project_selector}}
          {{=response.fieldvalue_employee_selector}}
          {{=response.fieldvalue_place_selector}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="label">{{=response.fieldvalue_form.custom.label.notes}}</div>
      </td>
    </tr>
    <tr>
      <td>
        {{=response.fieldvalue_form.custom.widget.notes}}
      </td>
    </tr>
  </table>                  
  {{=response.fieldvalue_id}}
  {{=response.fieldvalue_ref_id}}
  {{=response.fieldvalue_fieldname}}
  {{=response.fieldvalue_fieldtype}}
  {{=response.fieldvalue_readonly}}
  {{=response.fieldvalue_form.custom.end}}
</div>
{{pass}}

<div id="local-menu" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a">
  <div data-role="header">
    {{=response.cmd_home}}
    {{=response.cmd_close}}
  </div>
  <div data-role="content" style="margin-top:30px;padding:0px;margin-bottom: 20px;">
    <hr style="border-width:0;background-color: #333333;">
    <div id="ctr_fieldvalue_page" style="display: block;margin-top:20px;padding:0px;">
      <div data-role="controlgroup" >
        {{=form.custom.submit}}
	      {{if response.view_fields!=None:}}
	        {{=response.cmd_delete}}
	        <hr class="menu_separator">
	        {{=response.cmd_fieldvalue_new}}
	        {{=response.cmd_fields}}
	      {{pass}}
      </div>
      <div data-role="controlgroup" style="margin-top:20px;">
        {{=response.cmd_printer_close}}
      </div>
    </div>
    {{if response.view_fields!=None:}}
    <div id="ctr_edit_fieldvalue" style="display: none;margin-top:20px;padding:0px;">
      <div data-role="controlgroup" >
        {{=response.cmd_fieldvalue_update}}
        {{=response.cmd_fieldvalue_delete}}
      </div>
      <div data-role="controlgroup" style="margin-top:20px;">
        {{=response.cmd_fieldvalue_close}}
      </div>
    </div>
    {{pass}}
  </div>
</div>