{{extend 'nas/layout.html'}}

<style>
<!--
label, label.ui-input-text {
  font-weight: bold;
  background-color: #EEEEE0;
  padding: 8px;
  margin: 0.5em 0;
  border-radius: 8px;
}
.w2p_fl {
  padding-right: 5px;
  
}
.ui-checkbox, .ui-radio {
  position: inherit;
}
-->
</style>

{{block header}}
  {{=response.cmd_menu}}
  <h1 style="color: #FFD700;font-size: small;margin-bottom: 0px;margin-top: 5px;">{{=response.title}}</h1>
  <h1 style="margin-bottom: 5px;margin-top: 0px;"> {{=response.subtitle}}</h1>
  {{=response.cmd_exit}}
{{end}}

<div align="center" >
  <div id="input_form" style="max-width: 800px;padding-top: 10px;">
    {{if response.cmd_back:}}
      {{=response.cmd_back}}
    {{pass}}
    {{if response.cmd_new:}}
      <div align="left">{{=response.cmd_new}}</div>
    {{pass}}
	  {{=form}}
  </div>
</div>
  

