{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'nas/layout.html'}}
<style>
body {
  color: #444444;
}
.main {
    padding: 20px 0 20px;
}
#input_form a {
  color: #444444;
  text-decoration: none;
}

#input_form a:hover{
  color: #3B7687;
}

li {
  padding-top: 5px;
}
.sbar {
  width: 25%;;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ECECEC;
}
input[type="submit"] {
  height: 28px !important;
  padding-top: 2px !important;
}
textarea {
  width: 100%;
}
select {
  height: 30px;
  width: 310px;
}
#auth_user_username {
  min-width: 250px !important;
}
#auth_user_password {
  min-width: 250px !important;
}
</style>

<table width="100%" style="height: 100%;width: 100%;" cellpadding="0" cellspacing="0">
  <tr>
    {{if response.frm_caption:}}
    <td class="sbar">
      <h2 style="font-weight: bold;color: #444444;">{{=response.frm_caption}}</h2>
    </td>
    {{pass}}
    <td style="padding-left: 20px;">
      <div id="input_form">
        {{=form}}
  
			  {{if request.args(0)=='login':}}
			    {{if not 'register' in response.auth.settings.actions_disabled:}}
			      <br/><a href="{{=URL(r=request,args='register')}}">
			        <span style="font-weight: bold;">{{=T('NAS user does not exist. Please register for one here.')}}</span></a>
			    {{pass}}
			    {{if not 'request_reset_password' in response.auth.settings.actions_disabled:}}
			      <br/><a href="{{=URL(r=request,args='request_reset_password')}}">Lost password?</a>
			    {{pass}}
<!-- 			    <br/>Username: <span style="font-weight: bold;">demo</span>  -->
<!-- 			         Password: <span style="font-weight: bold;">demo</span> -->
			  {{pass}}
      </div>
    </td>
  </tr>
</table>

{{if request.args(0)=='login':}}
  <hr style="margin: 25px 0 5px;border-width: 1.5px;" />
  <div style="width: 100%;text-align: center;">
    <a href="/nerva2py/default/index" 
          style="color: #3B7687;font-size: 20px;text-decoration: none;font-weight: bold;padding: 3px;">
          HOME</a>
  </div>
  <hr style="margin: 5px 0 5px;border-width: 1.5px;" />
  <table width="100%" style="height: 100%;width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <span style="font-weight: bold;font-size: 20px;">Applications & Resources</span>
        <ul style="padding-bottom: 0px;">
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/nwc/index" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Web Client</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getAppl?appl=nflex/nervex.html" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              NervaFlex</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndi_demo/index" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Data Interface Demo</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=download/nguest&content=application/jar&file_type=jar" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Client Additions</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=download/vba_demo&content=application/zip&file_type=zip" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Microsoft Excel Data Loader</a>
          </li>
        </ul>
      </td>
      <td>
        <span style="font-weight: bold;font-size: 20px;">Documentations</span>
        <ul style="padding-bottom: 0px;margin-bottom: 0px;">
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=docs/nom/nom&content=view&lang=auto" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Object Model</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=docs/nas/nas&content=view&lang=auto" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Application Server</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=docs/ndi/ndi&content=view&lang=auto" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Data Interface</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=docs/npi/npi&content=view&lang=auto" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Programming Interface</a>
          </li>
          <li style="padding-top: 0px;margin-bottom: 0px;">
            <a target="_blank" href="/nerva2py/ndr/getResource?file_name=docs/ndr/ndr&content=view&lang=auto" 
              style="color: #3B7687;text-decoration: none;font-weight: bold;;font-size: 16px;font-style: italic;">
              Nervatura Data Representation</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <table width="100%" style="height: 100%;width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
      <td style="text-align: center;">
          <a href="/nerva2py/default/ndoc" 
          style="border-top-style: solid;border-top-width: 1px;border-bottom-style: solid;border-bottom-width: 1px;color: #3B7687;font-size: 14px;text-decoration: none;font-weight: bold;padding: 3px;">
          MORE DOCS & RESOURCES</a>
      </td>
    </tr>
  </table>
{{pass}}
      
{{if response.frm_name in('user','accounts','databases','settings'):}}
<script language="javascript">
<!--
 jQuery("#input_form input:visible:enabled:first").focus();
//-->
</script>
{{pass}}