.label {
	font-size: 1em;
  background-color: #DBDBDB;
  border-radius: 4px;
  color: #444444;
  font-weight: bold;
  padding: 6px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin: 5px 5px 0px 5px;
}
.label_info {
	font-size: 1em;
  background-color: #FFFACD;
  border-radius: 4px;
  color: #444444;
  font-weight: bold;
  padding: 6px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin: 5px 5px 0px 5px;
}
.label_more {
	font-size: 1em;
  background-color: #B0C4DE;
  border-radius: 4px;
  color: #444444;
  font-weight: bold;
  padding: 6px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin: 5px 5px 0px 5px;
}
.td_label {
  vertical-align: top;
  padding-left: 0px;
}
.td_info {
  vertical-align: top;
  padding-left: 0px;
}
.textbox {
	font: 14px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin-left: 5px;
  outline: medium none;
  padding: 6px 5px;
  text-align: justify;
  margin: 5px;
}
.tbutton {
	padding: 6px 8px;
	-moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0 #FFFFFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-image: none;
  border-right: 1px solid #AAAAAA;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  color: #444444;
  display: inline-block;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 5px 0px 5px;
}
